<script>
import { inspectorData } from "../stores.js";
</script>

<div class="inspector">
  {#if $inspectorData !== null}
    <h3> ={$inspectorData.header}= </h3>
    <p>{@html $inspectorData.text}</p>
  {:else}
    <slot></slot>
  {/if}
</div>
