<script>
import { createEventDispatcher } from "svelte";
import { Sprite } from 'svelte-pixi';
import { blitTexture } from './lib.js';
import { pixiFacts } from "../stores.js";

const dispatch = createEventDispatcher();

let sprites = {};
let hasFocus = false;

export let xIndex = 2;
export let yIndex = 12;

let border = [
  [
    192,
    179,
    216,
  ],
  [
    215,
    179,
    191,
  ]
]
let width = 40;
let height = 30;

pixiFacts.subscribe(fax => {
  width = fax.tileWidth;
  height = fax.tileHeight;
})

let text_width = 33
let text_height = 3

export let message = "";

function handleKey({ key }) {
  const _key = key.toUpperCase();
  switch (_key) {
    case "BACKSPACE":
    case "DELETE":
      message = message.substr(0, message.length-1);
      break;
    case "A":
    case "B":
    case "C":
    case "D":
    case "E":
    case "F":
    case "G":
    case "H":
    case "I":
    case "J":
    case "K":
    case "L":
    case "M":
    case "N":
    case "O":
    case "P":
    case "Q":
    case "R":
    case "S":
    case "T":
    case "U":
    case "V":
    case "W":
    case "X":
    case "Y":
    case "Z":
    case "0":
    case "1":
    case "2":
    case "3":
    case "4":
    case "5":
    case "6":
    case "7":
    case "8":
    case "9":
    case "(":
    case ")":
    case "[":
    case "]":
    case "!":
    case "@":
    case "#":
    case "$":
    case "%":
    case "^":
    case "&":
    case "*":
    case "-":
    case "_":
    case "+":
    case "+":
    case "|":
    case "'":
    case '"':
    case ':':
    case ';':
    case '.':
    case ',':
    case '?':
    case '/':
    case '=':
    case ' ':
      if (message.length < (text_width * text_height)) {
        message += _key;
      }
      break;
  }
}


function parseBuffer(_message) {
  let formatted = _message;
  if (formatted.length < (text_width * text_height)) {
    formatted += "_";  // cursor
  }
  return formatted
}

$: label = parseBuffer(message);
console.log("here!")
</script>

<svelte:window on:keydown={handleKey} />

{#each label as character, i}
  <Sprite
    texture={blitTexture(character.charCodeAt(0) + 1, width, height, false, "letter-text")}
    width={width}
    height={height}
    x={(xIndex + 1 + (i % text_width)) * width}
    y={(yIndex - 1 + Math.floor(i / text_width)) * height}
  />
{/each}