.characterPanel, .actions-panel {
    @include dark-background-style;
    .status-bar {
        text-align: center;
    }
    ul.character-items{
        color: #000;
    }
    ul.actions {
        margin:0;
        list-style: none;
        padding: 40px;
        display: flex;
        margin: 0px;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        li {
            line-height: 3em;
            min-width: 200px;
            margin: auto;
            text-align: center;
        }
        a {
            color: #fff;
        }
    }
}