ul.messages, ul.warnings {
    position: sticky;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    li {@include fadeIn(.7s);}

}

ul.messages {
    top: 47px;
    @media only screen and (min-width: 420px) {
        width: 100%;
    }
}

ul.warnings {
    top:68px;
    @media only screen and (min-width: 420px) {
        width: 100%;
    }
}