$defult-outer-background-color: rgb(71, 150, 126);
$default-inner-background-color: invert($defult-outer-background-color);

.door-transition {
    display: none;
    z-index:20;
    .door-exterior {
        z-index: 10;
        @include darkscanlines;
        background-color: $defult-outer-background-color;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .door-interior{
        z-index: 20;
        //somehow this gets the background color of the next room
        background-color: $default-inner-background-color;
        overflow:hidden;
        @include scanlines;
        width: 50px;
        height: auto;
        opacity: 0;
        top:0;
        left:25vw;
        margin:auto;
        transition: width 3s;
        position: absolute;
        img {
            width: 100%;
            margin: auto;
        }
    }
    &.active {
        display:block;
        position:absolute;
        width: 100vw;
        height: 100vh;
        @include fadeIn(.7s);
        .door-interior
        {
            @include fadeInZoom();
            width: 50vw;
        }
    }
}