.modal {
    //@include scanlines;
    @include fadeIn(.7s);
    position: absolute;
    z-index: 20;
    top: 64px;
    align-self: center;
    max-width: 80vw;
    padding:50px;
    line-height: 20px;
    
}