@mixin tile-border-top-bar {
    border-top-width: 6px;
    border-image-slice: 69 24 27 24;
    border-image-width: 45px 20px 20px 20px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("/static/images/window-top.png");
    border-style: solid;
}

@mixin tile-border-corners{
    border-image-slice: 48 48 48 48;
    border-image-width: 40px 40px 40px 40px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: repeat repeat;
    border-image-source: url("/static/images/window-corners.png");
    border-style: solid;
}
