
@mixin sprite-0($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px;
}

@mixin sprite-1($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -18px;
}

@mixin sprite-2($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -551px -18px;
}

@mixin sprite-3($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -727px -1px;
}

@mixin sprite-4($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -771px -35px;
}

@mixin sprite-5($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -859px -18px;
}

@mixin sprite-6($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -947px -1px;
}

@mixin sprite-7($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1013px -35px;
}

@mixin sprite-8($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -331px -18px;
}

@mixin sprite-9($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1167px -35px;
}

@mixin sprite-10($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px;
}

@mixin sprite-11($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px;
}

@mixin sprite-12($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -155px -18px;
}

@mixin sprite-13($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px;
}

@mixin sprite-14($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px;
}

@mixin sprite-15($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -353px -35px;
}

@mixin sprite-16($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -441px -1px;
}

@mixin sprite-17($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -463px -1px;
}

@mixin sprite-18($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px;
}

@mixin sprite-19($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px;
}

@mixin sprite-20($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -551px -35px;
}

@mixin sprite-21($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -617px -1px;
}

@mixin sprite-22($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -639px -18px;
}

@mixin sprite-23($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px;
}

@mixin sprite-24($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -683px -1px;
}

@mixin sprite-25($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -683px -18px;
}

@mixin sprite-26($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -705px -1px;
}

@mixin sprite-27($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -705px -18px;
}

@mixin sprite-28($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -507px -1px;
}

@mixin sprite-29($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -705px -35px;
}

@mixin sprite-30($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -287px -18px;
}

@mixin sprite-31($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -287px -35px;
}

@mixin sprite-32($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -705px -35px;
}

@mixin sprite-33($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -727px -18px;
}

@mixin sprite-34($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -727px -35px;
}

@mixin sprite-35($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -749px -1px;
}

@mixin sprite-36($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -749px -18px;
}

@mixin sprite-37($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -749px -35px;
}

@mixin sprite-38($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -771px -1px;
}

@mixin sprite-39($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -771px -18px;
}

@mixin sprite-40($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -793px -1px;
}

@mixin sprite-41($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -793px -18px;
}

@mixin sprite-42($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -793px -35px;
}

@mixin sprite-43($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -815px -1px;
}

@mixin sprite-44($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -815px -18px;
}

@mixin sprite-45($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -815px -35px;
}

@mixin sprite-46($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -837px -1px;
}

@mixin sprite-47($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -837px -18px
}
@mixin sprite-48($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -837px -35px;
}

@mixin sprite-49($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -859px -1px
}
@mixin sprite-50($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -859px -35px;
}

@mixin sprite-51($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -881px -1px;
}

@mixin sprite-52($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -881px -18px;
}

@mixin sprite-53($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -881px -35px;
}

@mixin sprite-54($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -903px -1px;
}

@mixin sprite-55($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -903px -18px;
}

@mixin sprite-56($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -903px -35px;
}

@mixin sprite-57($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -925px -1px;
}

@mixin sprite-58($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -925px -18px;
}

@mixin sprite-59($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -925px -35px;
}

@mixin sprite-60($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -947px -18px;
}

@mixin sprite-61($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -947px -35px;
}

@mixin sprite-62($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -969px -1px;
}

@mixin sprite-63($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -969px -18px;
}

@mixin sprite-64($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -969px -35px;
}

@mixin sprite-65($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -991px -1px;
}

@mixin sprite-66($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -991px -18px;
}

@mixin sprite-67($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -991px -35px;
}

@mixin sprite-68($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1013px -1px;
}

@mixin sprite-69($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1013px -18px;
}

@mixin sprite-70($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1035px -1px;
}

@mixin sprite-71($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1035px -18px;
}

@mixin sprite-72($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1035px -35px;
}

@mixin sprite-73($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1057px -1px;
}

@mixin sprite-74($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1057px -18px;
}

@mixin sprite-75($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1057px -35px;
}

@mixin sprite-76($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1079px -1px;
}

@mixin sprite-77($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1079px -18px;
}

@mixin sprite-78($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1079px -35px;
}

@mixin sprite-79($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1101px -1px;
}

@mixin sprite-80($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1101px -18px;
}

@mixin sprite-81($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1101px -35px;
}

@mixin sprite-82($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1123px -1px;
}

@mixin sprite-83($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1123px -18px;
}

@mixin sprite-84($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1123px -35px;
}

@mixin sprite-85($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1145px -1px;
}

@mixin sprite-86($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1145px -18px;
}

@mixin sprite-87($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1145px -35px;
}

@mixin sprite-88($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1167px -1px;
}

@mixin sprite-89($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1167px -18px;
}

@mixin sprite-90($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1189px -1px;
}

@mixin sprite-91($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1189px -18px;
}

@mixin sprite-92($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1189px -35px;
}

@mixin sprite-93($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1211px -1px;
}

@mixin sprite-94($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1211px -18px
}
@mixin sprite-95($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1211px -35px
}
@mixin sprite-96($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -375px -35px
}
@mixin sprite-97($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1233px -1px
}
@mixin sprite-98($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1233px -18px
}
@mixin sprite-99($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1233px -35px
}
@mixin sprite-100($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -35px
}
@mixin sprite-101($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -23px -1px
}
@mixin sprite-102($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -23px -18px
}
@mixin sprite-103($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -23px -35px
}
@mixin sprite-104($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -45px -1px
}
@mixin sprite-105($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -45px -18px
}
@mixin sprite-106($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -45px -35px
}
@mixin sprite-107($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -67px -1px
}
@mixin sprite-108($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -67px -18px
}
@mixin sprite-109($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -67px -35px
}
@mixin sprite-110($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -89px -1px
}
@mixin sprite-111($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -89px -18px
}
@mixin sprite-112($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -89px -35px
}
@mixin sprite-113($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -111px -1px
}
@mixin sprite-114($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -111px -18px
}
@mixin sprite-115($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -111px -35px
}
@mixin sprite-116($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -133px -1px
}
@mixin sprite-117($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -133px -18px
}
@mixin sprite-118($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -133px -35px
}
@mixin sprite-119($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -155px -1px
}
@mixin sprite-120($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -155px -35px
}
@mixin sprite-121($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -177px -1px
}
@mixin sprite-122($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -177px -18px
}
@mixin sprite-123($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -177px -35px
}
@mixin sprite-124($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -199px -1px
}
@mixin sprite-125($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -199px -18px
}
@mixin sprite-126($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -199px -35px
}
@mixin sprite-127($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -221px -1px
}
@mixin sprite-128($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -221px -18px
}
@mixin sprite-129($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -221px -35px
}
@mixin sprite-130($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -243px -1px
}
@mixin sprite-131($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -243px -18px
}
@mixin sprite-132($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -243px -35px
}
@mixin sprite-133($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -265px -1px
}
@mixin sprite-134($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -265px -18px
}
@mixin sprite-135($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -265px -35px
}
@mixin sprite-136($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -199px -18px
}
@mixin sprite-137($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -177px -35px
}
@mixin sprite-138($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -287px -1px
}
@mixin sprite-139($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -287px -18px
}
@mixin sprite-140($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -287px -35px
}
@mixin sprite-141($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -309px -1px
}
@mixin sprite-142($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -309px -18px
}
@mixin sprite-143($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -309px -35px
}
@mixin sprite-144($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -331px -1px
}
@mixin sprite-145($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -331px -18px
}
@mixin sprite-146($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -331px -35px
}
@mixin sprite-147($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-148($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -353px -1px
}
@mixin sprite-149($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -353px -18px
}
@mixin sprite-150($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -375px -1px
}
@mixin sprite-151($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -353px -35px
}
@mixin sprite-152($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -375px -18px
}
@mixin sprite-153($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -375px -35px
}
@mixin sprite-154($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -397px -1px
}
@mixin sprite-155($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -397px -18px
}
@mixin sprite-156($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -397px -35px
}
@mixin sprite-157($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -419px -1px
}
@mixin sprite-158($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -419px -18px
}
@mixin sprite-159($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -419px -35px
}
@mixin sprite-160($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -441px -18px
}
@mixin sprite-161($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-162($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -441px -35px
}
@mixin sprite-163($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-164($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-165($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-166($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-167($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-168($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-169($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-170($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-171($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-172($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-173($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-174($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-175($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-176($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -463px -18px
}
@mixin sprite-177($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -221px -18px
}
@mixin sprite-178($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -463px -35px
}
@mixin sprite-179($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -485px -1px
}
@mixin sprite-180($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -485px -18px
}
@mixin sprite-181($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-182($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-183($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-184($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-185($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-186($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-187($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-188($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-189($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-190($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-191($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -485px -35px
}
@mixin sprite-192($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -507px -1px
}
@mixin sprite-193($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -507px -18px
}
@mixin sprite-194($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -507px -35px
}
@mixin sprite-195($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -529px -1px
}
@mixin sprite-196($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -529px -18px
}
@mixin sprite-197($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -529px -35px
}
@mixin sprite-199($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -551px -1px
}
@mixin sprite-200($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -573px -1px
}
@mixin sprite-201($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -573px -18px
}
@mixin sprite-203($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -573px -35px
}
@mixin sprite-204($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -595px -1px
}
@mixin sprite-205($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -595px -18px
}
@mixin sprite-206($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -595px -35px
}
@mixin sprite-207($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-208($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-209($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-210($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-211($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-212($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-213($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-214($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-215($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-216($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-217($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -617px -18px
}
@mixin sprite-218($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -617px -35px
}
@mixin sprite-219($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -639px -1px
}
@mixin sprite-220($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -639px -35px
}
@mixin sprite-221($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -661px -1px
}
@mixin sprite-222($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -661px -18px
}
@mixin sprite-223($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -661px -35px
}
@mixin sprite-224($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-225($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-226($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-227($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-228($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-229($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-230($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-231($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-232($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-233($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-234($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-235($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-236($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-237($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-238($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-239($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-240($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-241($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-242($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-243($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-244($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-245($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-246($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-247($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-248($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-249($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-250($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-251($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-252($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-253($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
@mixin sprite-254($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -683px -35px
}
@mixin sprite-255($path:'./'){
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url('#{$path}tiles.png');
    background-position: -1px -1px
}
