@mixin room-div-layout {
    padding: $spacing-unit;
}

@mixin centered-column {
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    padding: $spacing-unit;
}

div.content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

//this might fuck shit up, lets see:
header {
    position:sticky;
    top:0;
}
footer {
    position:sticky;
    bottom:0;
}
header > div {
    display: flex;
    flex-direction: row;
    ul {
        flex: 1;
        list-style: none;
        margin: 0;
        line-height: 30px;
        li {
            float: right;
            margin-left: 20px;
        }
    }
    
}
sidebar {
    @include room-div-layout();
    margin-top: 20px;
    width: 100%;
    @media only screen and (min-width: 420px) {
        margin-top: 0;
        margin-right: 20px;
        width: auto;
    }
    
}
section {
    flex: 1;
    @include room-div-layout();
}

main {
    display: flex;
    flex: 1;
    flex-direction: column-reverse; // small screens are default! see resposive for the large screen
    //overflow-y: auto;
}

.center-block {
    @include centered-column;
}