@mixin hide-on-sm {
  @media only screen and (max-width: 420px) {
    display: none;
  }
}
@mixin hide-on-lg {
  @media only screen and (min-width: 420px) {
    display: none;
  }
}




@media only screen and (min-width: 420px) {
  main {
    flex-direction: row;
  }
}

//responsive iframe

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
  // @include media-query($on-palm) {
    //min-width: 680px;
  // }
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   box-sizing: border-box;
   .vp-center {
     display: block; //fixing vimeo's fix that broke my fix
   }
}


video {
  width: 100%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}

