<script>
import { getContext } from "svelte";

const changeLocale = getContext("changeLocale");

import TextRoom from "./text/TextRoom.svelte";

import {
  tableau,
} from "../../stores.js";

const illuminationLevels = ["dark", "dim", "full"];
function clearIlluminationLevels() {
  illuminationLevels.forEach((value) => {
    document.body.classList.remove(`illuminate-${value}`);
  });
}
function setIlluminationLevel(numericLevel) {
  clearIlluminationLevels();
  const level = illuminationLevels[numericLevel];
  document.body.classList.add(`illuminate-${level}`);
}

const cleanlinessLevels = ["profane", "dirty", "clean"];
function clearCleanlinessLevels() {
  cleanlinessLevels.forEach((value) => {
    document.body.classList.remove(`cleanliness-${value}`);
  });
}
function setCleanlinessLevel(numericLevel) {
  clearCleanlinessLevels();
  const level = cleanlinessLevels[numericLevel];
  document.body.classList.add(`cleanliness-${level}`);
}

function setBodyClasses() {
  if ($tableau && $tableau.room) {
    setIlluminationLevel($tableau.room.attributes.brightness);
    setCleanlinessLevel($tableau.room.attributes.cleanliness);
  } else {
    setIlluminationLevel(2);
    setCleanlinessLevel(2);
  }
}

const defaultBackgroundColor = "#637cab";

function updateRoomAttributes(value) {
  if (!value) {
    return;
  }
  if (value.character.dead) {
    setIlluminationLevel(2);
    changeLocale("dead");
    return;
  }
  if (value.room !== null ) {
    document.body.classList.remove("dead");
    setBodyClasses();
    document.title = value.room.name;
  }
}

tableau.subscribe((_tableau) => {
  updateRoomAttributes(_tableau);
})

</script>

{#if $tableau && $tableau.room}
  <TextRoom />
{/if}
