<script>
import { getContext } from "svelte";
const changeLocale = getContext("changeLocale");

import { post, get } from "../../../../api.js";
import { animationName, tableau, tableauPromise, insertedMessage, viewedItem, inspectorTarget, viewedCharacter, showAnimation, animationHoldLastFrame } from "../../../stores.js";
import Linky from "../../../Linky.svelte";
import ItemStack from "../../../ItemStack.svelte";

function place(stack) {
  tableauPromise.set(post(`v1/game/items/${stack.items[0].pk}/place/`, {}));
  if (stack.abstract_item.item_type == "CANDLE") {
    animationName.set("candle_place")
  } else {
    animationName.set("working");
  }
}
function drop(stack) {
  animationName.set("working");
  tableauPromise.set(post(`v1/game/items/${stack.items[0].pk}/drop/`, {}));
}
function use(stack) {
  if (stack.abstract_item.item_type == "CANDLE") {
    animationName.set("candle_light")
  }
  if (stack.abstract_item.item_type == "INCENSE") {
    animationName.set("incense_light")
  }
  if (stack.abstract_item.item_type == "FECES") {
    animationName.set("poop")
  }
  if (stack.abstract_item.item_type == "SCRUBBRUSH") {
    animationName.set("clean")
  }
  if (stack.abstract_item.item_type == "LETTER") {
    animationName.set("text_field")
    showAnimation.set(true);
    animationHoldLastFrame.set(true)
    mode = `compose:${stack.items[0].pk}`;
  } else {
    tableauPromise.set(post(`v1/game/items/${stack.items[0].pk}/use/`, {}));
  }

}
function equip(stack) {
  if (stack.abstract_item.item_type == "BODYPART") {
    animationName.set("bodypart")
  }
  tableauPromise.set(post(`v1/game/items/${stack.items[0].pk}/equip/`, {}));
}
async function viewItem(stack) {
  viewedItem.set(await get(`v1/foundry/items/${stack.items[0].pk}/`));
  changeLocale("item");
}
async function viewCharacter(pk) {
  viewedCharacter.set(await get(`v1/guild/characters/${pk}/`));
  changeLocale("character");
}
function handleSetGreeting() {
    animationName.set("text_field")
    showAnimation.set(true);
    animationHoldLastFrame.set(true)
    mode = `set_greeting:${$tableau.character.pk}`;
}

let brightnessLevel = 2;
let cleanlinessLevel = 2;
let sanctityLevel = 2;


tableau.subscribe((_tableau) => {
  if (_tableau.room !== null && _tableau.room !== undefined) {
    brightnessLevel = _tableau.room.attributes.brightness;
    cleanlinessLevel = _tableau.room.attributes.cleanliness;
    sanctityLevel = _tableau.room.attributes.sanctity;
  }
})

export let mode = "default";

const item_type_modes = {
  ARROW: {
    activateVerb: "aim",
    mode: "aim",
  },
  AMULET: {
    activateVerb: "use",
    mode: "unlock",
  },
  TRAP: {
    activateVerb: "arm",
    mode: "arm",
  },
  SHIELD: {
    activateVerb: "bash",
    mode: "bash",
  },
};

</script>

<div class="character">
  <h3>
    <Linky
      on:click={() => viewCharacter($tableau.character.pk)}
    >{$tableau.character.name}</Linky> <Linky on:click={handleSetGreeting}><img class="set-greeting" src="/static/images/greet.png" alt="set greeting"></Linky></h3>
  <div class="row">
    <div class="bodyparts">
      <h3>Body:</h3>
      <ul>
        {#each $tableau.character.bodyparts as stack}
          <li class:cursed={stack.items.find((i) => !i.cursed) === undefined}>
            {#if stack.items.find((i) => !i.cursed) !== undefined}
              <Linky
                on:click="{() => drop(stack)}"
                on:mouseenter={() => inspectorTarget.set({drop: stack})}
                on:mouseout={() => inspectorTarget.set(null)}
              >
                <img src="/static/images/remove.png" alt="remove body part">
              </Linky>
            {:else}
              <Linky
                on:click={() => inspectorTarget.set({cursed: stack})}
                on:mouseenter={() => inspectorTarget.set({drop: stack})}
                on:mouseout={() => inspectorTarget.set(null)}
              >
                <img src="/static/images/cursed.png" alt="cursed body part cannot be removed">
              </Linky>
            {/if}
            <ItemStack stack="{stack}" />
            &mdash;
            {#if mode == "default"}
              {#if stack.abstract_item.name.toLowerCase() == "eyes"}
                <Linky
                  on:click={() => {
                    if (brightnessLevel == 0) {
                      insertedMessage.set("The room is too dark to look");
                    } else {
                      mode = 'look';
                    }
                  }}>look</Linky
                >
              {:else if stack.abstract_item.name.toLowerCase() == "ear"}
                <Linky
                  on:click={() => {
                    if (cleanlinessLevel == 2) {
                      insertedMessage.set("The room is too noisy to listen");
                    } else {
                      mode = 'listen';
                    }
                  }}>listen</Linky
                >
              {:else if stack.abstract_item.name.toLowerCase() == "nose"}
                <Linky
                  on:click={() => {
                    if (cleanlinessLevel == 0) {
                      insertedMessage.set("The room is too dirty to sniff");
                    } else if (sanctityLevel == 2){
                      insertedMessage.set("The incense makes it impossible to sniff");
                    }
                    else {
                      mode = 'sniff';
                    }
                  }}>sniff</Linky
                >
                {:else if stack.abstract_item.name.toLowerCase() == "root"}
                <Linky
                  on:click={() => {
                    if (cleanlinessLevel == 2) {
                      insertedMessage.set("The room is too clean to creep");
                    } else {
                      mode = 'creep';
                    }
                  }}>creep</Linky
                >
              {:else if stack.abstract_item.name.toLowerCase() == "spectral organ"}
                <Linky
                  on:click={() => {
                    if (sanctityLevel == 0) {
                      insertedMessage.set("The room is too cursed to scry");
                    } else {
                      mode = 'scry';
                    }
                  }}>scry</Linky
                >
              {:else if stack.abstract_item.name.toLowerCase() == "mycelium"}
              <Linky
                on:click={() => {
                  if (cleanlinessLevel == 0) {
                    insertedMessage.set("Too dirty to spawn");
                  } else {
                    mode = 'spawn';
                  }
                }}>spawn</Linky
              >
              {:else if stack.abstract_item.name.toLowerCase() == "sensor"}
              <Linky
                on:click={() => {
                    mode = 'analyze';
                }}>analyze</Linky
              >
              {/if}
              
            {:else if mode == "sniff"}
              {#if stack.abstract_item.name.toLowerCase() == "nose"}
                <Linky
                  active
                  on:click="{() => {
                    mode = 'default';
                  }}">cancel</Linky
                >
              {:else}
                <Linky on:click="{() => viewItem(stack)}">smell</Linky>
              {/if}
            {:else if mode == "creep"}
              {#if stack.abstract_item.name.toLowerCase() == "root"}
                <Linky
                  active
                  on:click="{() => {
                    mode = 'default';
                  }}">cancel</Linky
                >
              {:else}
                <Linky on:click="{() => viewItem(stack)}">spawn</Linky>
              {/if}
            {:else if mode == "spawn"}
              {#if stack.abstract_item.name.toLowerCase() == "mycelium"}
                <Linky
                  active
                  on:click="{() => {
                    mode = 'default';
                  }}">cancel</Linky
                >
              {:else}
                <Linky on:click="{() => viewItem(stack)}">spawn</Linky>
              {/if}
            {:else if mode == "listen"}
              {#if stack.abstract_item.name.toLowerCase() == "ear"}
                <Linky
                  active
                  on:click="{() => {
                    mode = 'default';
                  }}">cancel</Linky
                >
              {:else}
                <Linky on:click="{() => viewItem(stack)}">listen</Linky>
              {/if}
            {:else if mode == "scry"}
              {#if stack.abstract_item.name.toLowerCase() == "spectral organ"}
                <Linky
                  active
                  on:click="{() => {
                    mode = 'default';
                  }}">cancel</Linky
                >
              {:else}
                <Linky on:click="{() => viewItem(stack)}">scry</Linky>
              {/if}
            {:else if mode == "look"}
              {#if stack.abstract_item.name.toLowerCase() == "eyes"}
                <Linky
                  active
                  on:click="{() => {
                    mode = 'default';
                  }}">cancel</Linky
                >
              {:else}
                <Linky on:click="{() => viewItem(stack)}">view</Linky>
              {/if}
            {:else if mode == "analyze"}
              {#if stack.abstract_item.name.toLowerCase() == "sensor"}
                <Linky
                  active
                  on:click="{() => {
                    mode = 'default';
                  }}">cancel</Linky
                >
              {:else}
                <Linky on:click="{() => viewItem(stack)}">analyze</Linky>
              {/if}
            {/if}
          </li>
        {:else}
          <li>Nothing equipped</li>
        {/each}
      </ul>
    </div>
    <div class="inventory">
      <h3>Inventory:</h3>
      <ul>
        {#each $tableau.character.inventory as stack}
          <li>
            <Linky
              on:click="{() => drop(stack)}"
              on:mouseenter={() => inspectorTarget.set({drop: stack})}
              on:mouseout={() => inspectorTarget.set(null)}
            >
              <img src="/static/images/remove.png" alt="drop item">
            </Linky>
            <ItemStack stack="{stack}" />
            {#if mode == "default"}
              {#if item_type_modes[stack.abstract_item.item_type] !== undefined}
                &mdash;
                <Linky
                  on:click="{() => {
                    mode = item_type_modes[stack.abstract_item.item_type].mode;
                  }}"
                  >{item_type_modes[stack.abstract_item.item_type]
                    .activateVerb}</Linky
                >
              {:else if stack.abstract_item.item_type == "TUFFET"}
                &mdash;
                <Linky on:click="{() => use(stack)}">kneel</Linky>
              {:else if stack.abstract_item.item_type == "BODYPART"}
                &mdash;
                <Linky on:click="{() => equip(stack)}">equip</Linky>
              {:else if stack.is_active}
                &mdash;
                <Linky on:click="{() => place(stack)}">place</Linky>
              {:else if stack.items[0].is_usable}
                &mdash;
                <Linky on:click="{() => use(stack)}">use</Linky>
              {/if}
            {:else if item_type_modes[stack.abstract_item.item_type] !== undefined}
              {#if mode == item_type_modes[stack.abstract_item.item_type].mode}
                &mdash;
                <Linky
                  on:click="{() => {
                    mode = 'default';
                  }}">cancel</Linky
                >
              {/if}
            {:else if mode == "look"}
              &mdash;
              <Linky on:click="{() => viewItem(stack)}">view</Linky>
            {:else if mode == "sniff"}
              &mdash;
              <Linky on:click="{() => viewItem(stack)}">smell</Linky>
            {:else if mode == "creep"}
              &mdash;
              <Linky on:click="{() => viewItem(stack)}">creep</Linky>
            {:else if mode == "scry"}
              &mdash;
              <Linky on:click="{() => viewItem(stack)}">scry</Linky>
            {:else if mode == "listen"}
              &mdash;
              <Linky on:click="{() => viewItem(stack)}">listen</Linky>
            {:else if mode == "analyze"}
              &mdash;
              <Linky on:click="{() => viewItem(stack)}">analyze</Linky>
            {/if}
          </li>
        {/each}
      </ul>
    </div>
  </div>
  
</div>
