<script>
import { getContext } from "svelte";
const changeLocale = getContext("changeLocale");

import Linky from "../../../Linky.svelte";
import {
  tableau,
  tableauPromise,
  insertedMessage,
  viewedCharacter,
} from "../../../stores.js";
import { get, post } from "../../../../api.js";

export let brightness = 0;
export let mode = "default";

async function viewCharacter(pk) {
  viewedCharacter.set(await get(`v1/guild/characters/${pk}/`));
  changeLocale("character");
}

async function bashCharacter(pk) {
  tableauPromise.set(await post(`v1/game/characters/${pk}/bash/`, {}));
  // console.log("bashed character");
  mode = "default";
}
async function bashNpc(pk) {
  tableauPromise.set(await post(`v1/game/npcs/${pk}/bash/`, {}));
  // console.log("bashed NPC!");
  mode = "default";
}
</script>

<p>There are some entities in the room:</p>
<ul class="here">
  {#each $tableau.room.occupants as occupant}
    <li>
      {#if occupant.pk == $tableau.character.pk}
        you
      {:else}
        <Linky on:click="{() => viewCharacter(occupant.pk)}"
          >{occupant.name}</Linky
        >
        {#if mode == "bash"}
          &mdash; <Linky on:click="{() => bashCharacter(occupant.pk)}"
            >bash</Linky
          >
        {/if}
      {/if}
    </li>
  {/each}
  {#each $tableau.room.npcs as npc}
    <li>
      {npc.name} is here!
      {#if mode == "bash"}
        &mdash; <Linky on:click="{() => bashNpc(npc.pk)}">bash</Linky>
      {:else if npc.greeting !== null}
        &mdash; <Linky on:click="{() => insertedMessage.set(npc.greeting)}">
          greet
        </Linky>
      {/if}
    </li>
  {/each}
</ul>
