<script>
import { post } from "../../../../api.js";
import { tableau, tableauPromise } from "../../../stores.js";
import Linky from "../../../Linky.svelte";

export let mode = "default";

function move(roomPk) {
  tableauPromise.set(post(`v1/game/rooms/${roomPk}/move/`, {}));
}

function fireArrow(roomPk) {
  tableauPromise.set(post(`v1/game/rooms/${roomPk}/fire_arrow/`, {}));
  mode = "default";
}
function placeTrap(roomPk) {
  tableauPromise.set(post(`v1/game/rooms/${roomPk}/place_trap/`, {}));
  mode = "default";
}
function toggleLock(roomPk) {
  tableauPromise.set(post(`v1/game/rooms/${roomPk}/toggle_lock/`, {}));
  mode = "default";
}
</script>

<h3>Exits:</h3>
<ul class="exits">
  {#each $tableau.room.exits as exit, pk}
    <li
      class="{exit.direction.toLowerCase()}"
      class:locked="{exit.locked}"
      class:trapped="{exit.visible_traps.length > 0}"
    >
      <Linky on:click="{() => move(exit.pk)}">
        {#if $tableau.room.attributes.brightness == 0}
          Too dark to see
        {:else}
          {exit.name}
          {#if exit.locked}
            (locked)
          {:else if exit.visible_traps.length > 0}
            (trapped)
          {/if}
        {/if}
      </Linky>
      {#if $tableau.character.arrow_count > 0 && mode == "aim"}
        &mdash; <Linky on:click="{() => fireArrow(exit.pk)}">Fire</Linky>
      {/if}
      {#if $tableau.character.trap_count > 0 && mode == "arm"}
        &mdash; <Linky on:click="{() => placeTrap(exit.pk)}">Trap</Linky>
      {/if}
      {#if $tableau.character.key_count > 0 && mode == "unlock"}
        &mdash; <Linky on:click="{() => toggleLock(exit.pk)}">
          {#if exit.locked}
            Unlock
          {:else}
            Lock
          {/if}
        </Linky>
      {/if}
    </li>
  {/each}
</ul>

<style>
</style>
