<script>
import { tableau } from "../../../stores.js";
export let brightness = 0;
</script>

<ul class="warnings">
  {#each $tableau.warnings as warning}
    <li>{@html warning.warning}</li>
  {/each}
</ul>
