<script>
import Time from "svelte-time";

import { tableau } from "../../../stores.js";

export let brightness = 0;
export let senseOrgan = "eyes"
</script>

{#if $tableau.room.visits}
  {#if senseOrgan == "eyes"}
    <p>There are some names scrawled on the wall, past visitors...</p>
  {:else if senseOrgan == "nose"}
    <p>You can smell the traces of past visitors...</p>
  {/if}
  <ul class="visits">
    {#each $tableau.room.visits as visit}
      <li>
        <span class:died="{visit.died_here}"
          >{visit.character ? visit.character.name : "Someone forgotten"} &mdash;
          <Time timestamp="{visit.stamp_date}" relative /></span
        >
        {#if visit.died_here}RIP{/if}
      </li>
    {/each}
  </ul>
{:else}
  <p>Nobody else has been here in quite some time</p>
{/if}

<style>
.died {
  text-decoration: line-through;
}
</style>
