<script>
import { tableau, clickMode } from "../../../stores.js";

import GrottoPaint from "../../../grottopaint/GrottoPaint.svelte";
import RoomInventory from "./RoomInventory.svelte";
import RoomManifest from "./RoomManifest.svelte";
import RoomVisits from "./RoomVisits.svelte";
import RoomWarnings from "./RoomWarnings.svelte";
import Time from "svelte-time";
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime.js";
dayjs.extend(relativeTime);

export let mode = "default";

let cleanlinessAdjective = "Dirty";
let sanctityAdjective = "Mundane";
let cleanlinessActivation = null;
let sanctityActivation = null;
let activations = {
  "BRIGHTNESS": [null, null, null],
  "CLEANLINESS": [null, null, null],
  "SANCTITY": [null, null, null],
}


function updateRoomAttributes(value) {
  if (value.room === null) {
    return;
  }
  value.room.activation_criteria.forEach((criteria) => {

    if (criteria.first_satisfied !== null) {
      activations[criteria.attribute][criteria.required_level] = dayjs(criteria.first_satisfied).toNow(true);
    }
  });
  cleanlinessAdjective = ["Profane", "Dirty", "Clean"][
    value.room.attributes.cleanliness
  ];
  cleanlinessActivation = activations["CLEANLINESS"][
    value.room.attributes.cleanliness
  ];
  sanctityAdjective = ["Cursed", "Mundane", "Sacred"][
    value.room.attributes.sanctity
  ];
  sanctityActivation = activations["SANCTITY"][
    value.room.attributes.sanctity
  ];
}
$: updateRoomAttributes($tableau);

$: clickMode.set(mode);

</script>

<h2>
  {#if $tableau.room.attributes.brightness == 0}
    Dark Room
    {#if activations["BRIGHTNESS"][0] !== null}
      (dark for {activations["BRIGHTNESS"][0]})
    {/if}
  {:else}
    {$tableau.room.name}
  {/if}
</h2>
<GrottoPaint {sanctityAdjective} {cleanlinessAdjective}  {sanctityActivation} {cleanlinessActivation} {activations} bind:mode={mode} />
<RoomWarnings brightness="{$tableau.room.attributes.brightness}" />
<div class="room-attributes">
  <p>
    The room is {sanctityAdjective}{#if sanctityActivation !== null}&nbsp;(for {sanctityActivation}){/if} and {cleanlinessAdjective}{#if cleanlinessActivation !== null}&nbsp;(for {cleanlinessActivation}){/if}.
    {#if $tableau.room.attributes.brightness == 1}
      The flicker of a candle dimly lights the room. A candle-holder on
      the wall is empty.
    {:else if $tableau.room.attributes.brightness == 2}
      {#if $tableau.room.lit_candle_count == 1}
        A burning flame lights the room.
      {:else}
        {$tableau.room.lit_candle_count} burning flames light the room.
      {/if}
      {#if activations["BRIGHTNESS"][2] !== null}
        (lit for {activations["BRIGHTNESS"][2]})
      {/if}
    {/if}
    {#if $tableau.room.active_feces_count == 1}
      There is a troubling smell in the room; as though someone has smeared shit
      on the walls and floor.
    {:else if $tableau.room.active_feces_count > 1}
      The smell in the room is unbearable. There must be {$tableau.room
        .active_feces_count} shits smeared all over the room.
    {/if}
  </p>
  {#if $tableau.room.attributes.brightness == 2}
    <p class="description level-{$tableau.room.level}">{$tableau.room.description}</p>
  {/if}
  <RoomInventory brightness="{$tableau.room.attributes.brightness}" bind:mode />
  <RoomManifest brightness="{$tableau.room.attributes.brightness}" bind:mode />
  <RoomVisits brightness="{$tableau.room.attributes.brightness}" />
</div>

