<script>
import { post, get } from "../../../../api.js";
import { getContext } from "svelte";
import {
  tableau,
  tableauPromise,
  cenotaphPk,
  viewedItem,
} from "../../../stores.js";
import Linky from "../../../Linky.svelte";
import ItemStack from "../../../ItemStack.svelte";
const changeLocale = getContext("changeLocale");

function take(itemPk) {
  tableauPromise.set(post(`v1/game/items/${itemPk}/take/`, {}));
}

export let mode = "default";
export let brightness = 0;

let takeable_items = [];

function updateRoomAttributes(_tableau) {
  takeable_items = [];
  if (!_tableau.room) {
    return;
  }
  _tableau.room.items.forEach((stack) => {
    if (stack.items[0].is_takeable) {
      takeable_items = [...takeable_items, stack];
    }
  });
}
$: updateRoomAttributes($tableau);

async function viewItem(pk) {
  viewedItem.set(await get(`v1/foundry/items/${pk}/`));
  changeLocale("item");
}
</script>

{#if $tableau.room.cenotaph}
  <div class="cenotaph">
    {#if brightness >= 1}
      <p>
        There is a {$tableau.room.color_name} cenotaph in the room
        {#if brightness == 2}
          &mdash; <Linky
            on:click="{() => {
              cenotaphPk.set($tableau.room.cenotaph.pk);
              changeLocale('cenotaph');
            }}">view</Linky
          >
        {/if}
      </p>
    {:else}
      There is a large object in the room but it is too dark to see
    {/if}
  </div>
{/if}
<div class="room-inventory">
  {#if takeable_items.length > 0}
    {#if brightness == 2}
      <p>Items are scattered on the ground:</p>
    {:else}
      <p>You are just barely able to count vague shapes in the dark:</p>
    {/if}
    <ul>
      {#each takeable_items as stack}
        <li>
          {#if brightness > 0}
            <ItemStack stack="{stack}" />
            &mdash;
            {#if mode == "default"}
              <Linky on:click="{() => take(stack.items[0].pk)}">take</Linky>
            {:else if mode == "look"}
              <Linky on:click="{() => viewItem(stack.items[0].pk)}">view</Linky>
            {/if}
          {:else}
            Unknown item
          {/if}
        </li>
      {/each}
    </ul>
  {:else}
    <p>Nothing in the room can be taken.</p>
  {/if}
</div>
