<script>
import PlayerMessages from "../../../PlayerMessages.svelte";
import Template from "../../../Template.svelte";

import RoomExits from "./RoomExits.svelte";
import RoomContent from "./RoomContent.svelte";
import CharacterInventory from "./CharacterInventory.svelte";

let mode = "default";
</script>

<Template>
  <sidebar slot="sidebar">
    <RoomExits bind:mode />
  </sidebar>
  <section class="content" slot="content">
    <RoomContent bind:mode />
    <PlayerMessages />
    <CharacterInventory bind:mode />
  </section>
  <footer slot="footer"></footer>
</Template>
