<script>
import { setContext } from "svelte";
import { patch, post } from "./api.js";

import GrottoPaint from "./components/grottopaint/GrottoPaint.svelte";
import {
  tableau,
  tableauPromise,
  baseUrl,
  userDetails,
} from "./components/stores.js";

export let base_url;
export let raw_tableau;
export let user;

baseUrl.set(base_url);
userDetails.set(user);

async function _tableauPromise() {
  raw_tableau.room.items = [];
  raw_tableau.room.npcs = [];
  raw_tableau.room.occupants = [];
  return raw_tableau;
}

let mode = "default";
let sanctityAdjective = "Sacred";
let cleanlinessAdjective = "Clean";

let activations = {
  "BRIGHTNESS": [null, null, null],
  "CLEANLINESS": [null, null, null],
  "SANCTITY": [null, null, null],
}
tableauPromise.set(_tableauPromise());
</script>

<div class="content">
  {#if $tableau !== undefined}
    <GrottoPaint {sanctityAdjective} {cleanlinessAdjective} {activations} bind:mode={mode} />
  {/if}
</div>
