<script>
import { setContext } from "svelte";
import { patch, post } from "./api.js";

import Loading from "./components/locales/Loading.svelte";
import Guild from "./components/locales/Guild.svelte";
import Crone from "./components/locales/Crone.svelte";
import Item from "./components/locales/Item.svelte";
import Npc from "./components/locales/Npc.svelte";
import Character from "./components/locales/Character.svelte";
import Room from "./components/locales/room/Room.svelte";
import Cenotaph from "./components/locales/Cenotaph.svelte";
import Crypt from "./components/locales/Crypt.svelte";
import Dead from "./components/locales/Dead.svelte";
import MagicMap from "./components/locales/map/MagicMap.svelte";
import Header from "./components/Header.svelte";
import {
  tableauPromise,
  baseUrl,
  userDetails,
} from "./components/stores.js";

export let base_url;
export let locale = "loading"; // "guild"|"crone"|"rooms"|"crypt"|"character"|"map"|"cenotaph"
export let user;

baseUrl.set(base_url);
userDetails.set(user);

const locales = {
  loading: Loading,
  guild: Guild,
  crone: Crone,
  character: Character,
  item: Item,
  npc: Npc,
  room: Room,
  map: MagicMap,
  cenotaph: Cenotaph,
  dead: Dead,
  crypt: Crypt,
};

let lastLocale = null;

function changeLocale(nextLocale) {
  if (nextLocale == "previous") {
    locale = lastLocale;
  } else {
    lastLocale = locale;
    locale = nextLocale;
  }
}
setContext("changeLocale", changeLocale);

async function becomeCharacter(character) {
  if (character.dead) {
    return;
  }
  // post to the API, set the tableau
  tableauPromise.set(post(`v1/guild/characters/${character.pk}/become/`, {}));
  await $tableauPromise;
  changeLocale("room");
}
setContext("becomeCharacter", becomeCharacter);

function updateLocale() {
  for (let key in locales) {
    document.body.classList.remove(key);
  }
  document.body.classList.add(locale);
}

$: updateLocale(locale);


function handleKeydown(event) {
  switch (event.key) {
    case "m":
    case "M":
      if (locale == "map") {
        changeLocale(lastLocale);
      } else {
        changeLocale("map");
      }
      break;
  }
}
</script>

<svelte:window on:keydown="{handleKeydown}" />

<div class="content">
  <Header user="{user}" />

  <svelte:component this="{locales[locale]}" on:change="{changeLocale}" />
</div>
