{% extends "base.html" %}

{% block page_title %}
  {% if relic %}{{ relic.name }}{% else %}Reliquary{% endif %}
{% endblock %}

{% block body_class %}
  item {% if relic %}{{ relic.name }}{% else %}reliquary{% endif %}
{% endblock %}

{% block content %}
  <section class="item-section">
    <div class="item-model"></div>
    <h2>
    {% if relic %}{{ relic.name }}{% else %}Reliquary{% endif %}
    </h2>
    {% if relic %}
      <p class="description">
        Description: {{ relic.rendered_description|safe }}
      </p>
    {% else %}
      <p> Welcome to the "Grotto" brazos cenotaphs. All Soul's Day occurs on November 2nd. Please use caution. </p>

      <p>This particular cenotaph has an empty reliquary, however devotional acts are recorded by factotems.</p>
    {% endif %}
  </section>
{% endblock %}
