//mixins
$spacing-unit: 10px;
$border-radius: 5px;

$off-white: #f5f5ee;

@mixin scanlines {
    background-image: url('/static/images/Block8.png');
    background-repeat: repeat;
    background-size: 20px,15px;
}
@mixin darkscanlines {
    background-image: url('/static/images/Block3.png');
    background-repeat: repeat;
    background-size: 20px,15px;
}
@mixin black {
    background-image: url('/static/images/black.png');
    background-repeat: repeat;
    background-size: 40px,30px;
}
@mixin dirty {
    background-image: url('/static/images/dirty.png');
    background-repeat: repeat;
    background-size: 90px,82px;
}
@mixin profane {
    background-image: url('/static/images/profane.png');
    background-repeat: repeat;
    background-size: 140px,188px;
}
@mixin blackText {
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-clip:text; 
        @include black();
}

@mixin darkText {
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-clip:text; 
        @include darkscanlines();
}

@mixin lightText {
    -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip:text;
        background-clip:text; 
    @include scanlines();
}

@mixin dark-background-style {
    //background-color: rgba(5,5,5,0.7);
    @include black;
    color: #fff;
    a {
        color: #fff;
    }
    
}

@mixin spoiler {
    background: black;
    color: transparent;
    cursor: help;
    user-select: none;
    transition: background 0.3s ease 0.2s, color 0.2s ease 0.25s;
    word-break: break-all;
    &:hover, &:active, &:focus {
        color: #fff;
        background: transparent;
    }
}

//resets



* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */

    font-weight: normal;

}
img {
    max-width: 100%;
    width: 100%;
}

//base

html {
}

a {
    color: #eee;
}


p {
    margin-bottom: 20px;
    padding-left: 20px;
    width: clamp(320px, 80vw);
}

h1, h2 {
    margin-top: 0;
    font-size: 2em;
}

