

body.cenotaph {
    
    header {
        display: none;
    }
    h1 {
        margin-bottom: $spacing-unit;
    }
    section.cenotaph-content {
        color: #000;
        background-color: rgba(255,255,255,0.5);
        border-radius: $border-radius;
        @include centered-column;
        padding: 40px;
        a {
            color: #000;
        }
    }

    .obituary {
        margin-bottom: 40px;
        
    }

    
    
    details > summary {
        padding: 2px 6px;
        background-color: rgba(255, 255, 255, 0.4);
        border: none;
        box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.4);
        cursor: pointer;
        margin-bottom: 10px;
      }
    details[open] {
        background-color: rgba(255, 255, 255, 0.4);
        padding-left: 4px;
        padding-bottom: 6px;
        
        margin-bottom: 10px;
    }
    details[open] > summary {
        background-color: rgba(255, 255, 255, 0.4);
        color: #666;
        padding-left: 2px;
        
    }

    details.selected {
        background-color: rgba(255, 255, 255, 0.8);
    }
    
    a-scene {
        display: none;
    }

    

    &.icon-ui-view {
        footer {
            border: none;
            padding: none;
            background-color: transparent;
        }
        
    }

}

