body.character, body.npc {
    header {
        display: none;
    }
 section.character-section {
     @include centered-column;

    div.icon.character {
        background-size: 130px,135px;
        height: 135px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        &.human {
            background-image: url('/static/images/human.png');
        }
        &.robot {
            background-image: url('/static/images/robot.png');
        }
        &.animal {
            background-image: url('/static/images/animal.png');
        }
        &.bird {
            background-image: url('/static/images/bird.png');
        }
        &.ghost {
            background-image: url('/static/images/ghost.png');
        }
        &.bird {
            background-image: url('/static/images/bird.png');
        }
        &.vegetable {
            background-image: url('/static/images/vegetable.png');
        }
        &.fungus {
            background-image: url('/static/images/fungus.png');
        }
        &.obelisk {
            background-image: url('/static/images/obelisk.png');
        }
    }
 }
 ul.character-inventory-list {
     flex-direction: column;
 }
}

