body.dead {
    text-align: center;
    .content {
        background-color: transparent;
    }
    header {
        display: none;
    }
    ul {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
        list-style: none;
        padding: 0;
    }
    .actions li::before {
        padding-left: 1rem;
        content: '☠️ ';
      }
    img {
        max-width: 800px;
        margin:auto;
    }
    canvas {
        display:block;
        width: 800px !important;
        height: 450px !important;
        margin-left: auto;
        margin-right: auto;
    }
}
