body.guild {
    .nav {
        display: none;
    }
    main {
        flex-direction: column;
    }
    section.guild-section {
        @include centered-column;
        line-height: 24px;
        ul {
            justify-content: flex-start;
        }
    }
    
}