body.item {
    header {
        display: none;
    }
    section.character-section, section.item-section {
        @include centered-column;
        h2 {
            text-align: center;
        }
        div.item {
            background-size: 130px,135px;
            height: 135px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: bottom;
            background-image: url('/static/images/unknown.png');
            &.scrubbrush {
                background-image: url('/static/images/scrubbrush.png');
            }
            &.candle {
                background-image: url('/static/images/candle_sm.png');
                
            }
            &.arrow {
                background-image: url('/static/images/arrow_sm.png');
                
            }
            &.shield {
                background-image: url('/static/images/shield.png');
                
            }
            &.candle-active {
                background-image: url('/static/images/candle_sm_active.png');
            
            }
            &.incense {
                background-image: url('/static/images/incense_sm.png');
                
            }
            &.incense-active {
                background-image: url('/static/images/incense_sm_active.png');
            }
            &.cenotaph {
                background-image: url('/static/images/cenotaph_sm.png');
                
            }    
            &.feces, &.feces-active {
                background-image: url('/static/images/feces.png');
            }
            &.collectable {
                background-image: url('/static/images/box.png');
            }
            &.decoration {
                background-image: url('/static/images/flower.png');
            }
            &.eyes {
                background-image: url('/static/images/eyes.png');
            }
        }
    }

    img {
        max-height: 500px;
        width: auto;
        margin: auto;
        padding: 40px;
        display: block;
    }
    
}