body.index {
    
    canvas {
        display: none;
        width: 100% !important;
        height:auto !important;
        @media only screen and (min-width: 860px) {
            display: block;
            margin-left:auto;
            margin-right: auto;
        }
        
    }
    background-color: #dfd9cf;

    color: rgb(29, 28, 28);
    a {
        color: rgb(46, 46, 46);
    }
    main {
        flex-direction: column;
    }
    h1 {
        text-align: center;
    }
    img {
        
        //width: 420px;
        max-width: 900px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        @media only screen and (min-width: 860px) {
            display: none;
        }
    }
    section.welcome {
        background-color:rgba(63, 20, 186, 0.91);
        border-radius: 80px;
    }
    .login {
        text-align: center;
        display: grid;
        @media only screen and (min-width: 860px) {
            display: none;
        }
    }
    .login,.news {
        background-color: rgba(0,0,0,0.3);
        max-width: 500px;
        margin: auto;
        //margin-bottom: 20px;
        padding: 20px;
        border: 4px double #fff;
    }
    .splash-candle {
        max-width: 100%;
        background-position: center;
        background-image: url(/static/images/candle_lg.gif);
        background-size: contain;
        background-repeat: no-repeat;
        width: 400px;
        height: 500px;
        margin: auto;
        background-color: #dfd9cf;
        background-blend-mode: multiply;
        -webkit-animation:change-color 20s linear 5s infinite normal;
        -moz-animation:change-color 20s linear 5s infinite normal;
        -ms-animation:change-color 20s linear 5s infinite normal;
        animation:change-color 20s linear 5s infinite normal;
    }
    .news em:first-letter {
        @extend h3;
        line-height: inherit;
    }
    footer.actions-panel {
        display:none;
    }
    .version {
        text-align: center;
        margin: 5px;
    }
}

body.logout, body.login {
    section.content {
        margin:auto;
        flex:none;

    }
}