body.crone {
    ul.nav, header {
        display: none;
    }
    section.content {
        @include centered-column;
        ul.actions {
            line-height: 30px;
        }
        img {
            width: 320px;
            margin:auto;
            display: block;
        }
    }
    form {
        line-height: 200%;
        max-width: 600px;
        margin: auto;
        padding: 50px;
        button {
            margin-top: 10px;
        }
        label {
            padding-left: 10px;
        }
    }
    
}





