
body.room {
    .main, main {
        //overflow-y: scroll;
        border-radius: 5px;
        //margin-bottom: 5px;
    }
    .description {
        margin-left: 0;
        margin-bottom: 0;
        font-style: italic;
    }
    
    sidebar {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        padding-right: 20px;
    }

   

    &.sparkly {
        background-image: url('images/glitter.gif');
    }
    &.transparent {
        background-image: url('images/checkerboard.png');
    }

}
