//These styles are for the new canvas enhanced large-screen layouts, 
// they override defaults which still serve as the small screen version

//note to self, how tf did we end up with a section.content inside a div.content!?!? No!

@mixin column-on-lg {
    @media only screen and (max-width: 1070px) {
      flex-direction: column;
      align-items: center;
      .inspector, .inventory, .bodyparts {
        width: 800px;
      }
      .controls {
        width: 800px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    @media only screen and (max-width: 420px) {
        .inspector, .inventory, .bodyparts, .controls{
            width: 100%;
        }
    }
}

.room {
    
    
    .controls {
        display: none;
    }
    main {
        padding: $spacing-unit;
    }
    main > sidebar {
        @include hide-on-lg;
    }
    .content > header {
        @include hide-on-lg;
    }
    section.content {
        max-width: 1600px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        > h2 {
            text-align: center;
            //@include scanlines;
            margin: 0;
            @include blackText;
            padding: 0;
            line-height: 2em;
        }
    
       
    }
    ul.warnings {
        @media only screen and (max-width: 420px) {
            position: sticky;
            display:block;
        }
        display: none;
    }
    .inspector ul.warnings {
        position: inherit;
        display: inline-block;
        background-color: transparent;
        top: 0;
        color:crimson;
        margin: 0;
        @media only screen and (min-width: 1070px) {
            display: inline-block;
        }
    }
    
    .content .room-attributes {
        @include hide-on-lg;
    }
    
    .character {

        max-width: 1600px;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex:1;
        align-items: center;
        min-width: none;
        @media only screen and (min-width: 420px) {
            @include tile-border-top-bar;
            width: 800px;
            min-width: 800px;
        }
        @media only screen and (min-width: 1070px) {
            width: 100%;
            min-width: 800px;
        }
        .row {
            display: flex;
            @include column-on-lg;
            flex-direction: row;
            flex: 1;
            width: 100%;
            margin-top: 1px;
            li {
                max-width: 800px;
                @media only screen and (min-width: 1070px) {
                    max-width: 50%;
                }
            }
            
        }

        img.set-greeting{
            display: none;
            @media only screen and (min-width: 420px) {
                display: inline-block;
                height: 20px;
                width: auto;
                padding: 2px;
            }
            
        }
        
    
        > h3 {

            //text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 7px;
            margin-top: 4px;
            line-height: 25px;
            height: 25px;
            background-color: $off-white;
            padding-top: 1px;
            display: flex;
            
        }
        .bodyparts, .inventory {
            padding-left: $spacing-unit*2;
            padding-right: $spacing-unit*2;
            padding-bottom: $spacing-unit;
            width: 50%;
            img {
                max-width: 20px;
                max-height: 17px;
            }
            ul {
                list-style-type: none;
                display:flex;
                flex-direction: column;
                flex-wrap: wrap;
                @media only screen and (min-width: 1070px) {
                    max-height: 250px;
                }
                
            }
            li:has(.active){
                background-image: url("/static/images/black.png?e78dfb972fda");
                color: #f5f5ee;
                background-repeat: repeat;
                background-size: 40px,30px;
                img{
                    filter: invert(100%);
                }
            }
        }
        .bodyparts {
            display: flex;
            flex-direction: column;
            
        }
        .inventory {
            border-left: 4px solid rgb(11, 11, 11);
            @media only screen and (max-width: 1070px) {
                border-left: none;
                width: 50vw;
            }
            display: flex;
            flex-direction: column;
            
        }
    }
    .graphics {
        @include hide-on-sm;
        display: block;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-height: 450px;
        //margin-bottom: $spacing-unit * 2;
        
        .row {
            display: flex;
            @include column-on-lg;
            flex-direction: row;
            div div {
                height:450px;
            }
        }
        canvas {
            width: 800px !important;
            height: 450px !important;
        }
        .inspector {
            min-height: 60px;
            padding: $spacing-unit * 3;
            padding-top: $spacing-unit;
            min-width: 180px;
            flex: 1;
            transition: height .2s;
            transition-delay: .2s;
            //border: 1px solid #171717;
            @include tile-border-corners;
            max-width: 600px;
            @media only screen and (min-width: 420px) {
                min-height: 300px;
                overflow-y: auto;
                max-width: 800px;
            }
            @media only screen and (min-width: 1070px) {
                max-height: 450px;
            }
            
            h3 {
                text-align: center;
                padding: 0;
                margin:0;
                font-family: 'courier_prime_coderegular', Courier, monospace;
            }
            .room-attributes {
                display: inline-block;
            }
        }
        
    }




    .content>ul.messages {
        width: 100%;
        border-radius: 0;
        
        @media only screen and (min-width: 420px) {
            
            @include black;
            background-color: $off-white;
            text-align: center;
            padding-left: 0;
            list-style-type: none;
            line-height:34px;
            position: inherit;
            margin-top: 0;
            margin-bottom: 0;
            min-height: 60px;
            width: 100%;
            overflow-y: hidden;
        }
        @media only screen and (max-width: 1070px) {
            max-width: 800px;
        }
        
        @media only screen and (min-width: 1070px) {
            width: 100%;
        }
    }
}
