<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="noindex, nofollow">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
        <title>{% block page_title %}{% endblock %}</title>
        {% block page_css %}
          {% compress css %}
          <link rel="stylesheet" type="text/x-scss" href="{% static 'main.scss' %}">
          {% endcompress %}
        {% endblock %}
      </head>
      <body>
          <section>
              <p> Welcome to the "Grotto" brazos cenotaphs. All Soul's Day occurs on November 2nd. Please use caution. </p>

              <p>This particular cenotaph has an empty reliquary, however devotional acts are recorded by factotems.</p>
          </section>
    </body>
</html>