{% extends "base.html" %}
{% load django_svelte %}
{% load static %}

{% block page_title %}Grotto{% endblock %}
{% block body_class %}index{% endblock %}

{% block header %}<header></header>{% endblock %}

{% block main_section_class %}welcome{% endblock %}

{% block content %}
  <img src="{% static 'images/title.png' %}"/ alt="Grotto">
  {% display_svelte "Attract.svelte" %}
  <div class="login"><a href="{% url 'game:play' %}">ENTER</a></div>

<div class="version">
  Running <a href="https://gitlab.com/grotto/grotto">Grotto {{ version }}</a>, created by Wiley Wiggins and Paul Stiverson</a>
</div>

{% endblock %}
