<script>
import { getContext, createEventDispatcher } from "svelte";
const dispatch = createEventDispatcher();


import {
  forceLink,
  forceSimulation,
  forceCollide,
  forceY,
  forceX,
  forceManyBody,
  forceCenter,
} from "d3-force";

const { data, width, height } = getContext("LayerCake");

export let getFill = (d) => d.visited ? d.colorHex : "#999";
export let nodeSize = 16;

$: simulation = forceSimulation()
  .force("charge", forceManyBody().strength(-700))
  .force("link", forceLink().id(d => d.pk).distance(80))
  .force("center", forceCenter($width / 2, $height / 2));

$: simulation.nodes($data.nodes).stop();
$: simulation.force("link").links($data.links);

$: {
  for (let i = 0, n = 500; i < n; ++i) {
    simulation.tick();
  }
}

function linkVisited(link) {
  return link.source.visited && link.target.visited
}

function getNodeSize(node) {
  return (nodeSize + node.exitCount) * (node.hovered ? 2 : 1);
}

let anyNodeHovered = false;

function focusNode(node) {
  console.log("hovering over node!")
  dispatch("focusNode", { node })
  node.hovered = true;
  anyNodeHovered = true;

}

function blurNode(node) {
  console.log("left that node!")
  dispatch("blurNode", { node })
  node.hovered = false;
  // possible race condition here if someone is able to enter a node while exiting another...
  anyNodeHovered = false;
}

function getLinkOpacity(link) {
  console.log(link)
  let _opacity = 0.5;
  if (anyNodeHovered) {
    _opacity = 0.1
  }
  if (link.source.hovered || link.target.hovered) {
    _opacity = 1
  }
}

</script>

<g class="map">
  {#each simulation.force("link").links() as link}
    <line
      class="link-{link.source.pk}-{link.target.pk}"
      x1={link.source.x}
      y1={link.source.y}
      x2={link.target.x}
      y2={link.target.y}
      stroke-dasharray={linkVisited(link) ? 'none' : '5,5'}
      stroke={linkVisited(link) ? "#333" : "#ccc"}
      stroke-opacity={getLinkOpacity(link)}
    ></line>
  {/each}
  {#each simulation.nodes() as node}
    <rect
      fill={getFill(node)}
      stroke={node.warnings && node.warnings.length > 0 ? "red" : (node.visited ? "#999" : "#333")}
      shape-rendering="crispEdges"
      x={node.x - getNodeSize(node) / 2}
      y={node.y - getNodeSize(node) / 2}
      width={getNodeSize(node)}
      height={getNodeSize(node)}
      on:mouseover={focusNode(node)}
      on:mouseout={blurNode(node)}
    ></rect>
  {/each}
</g>
