<script>
import { LayerCake, Svg } from "layercake";

import Template from "../../Template.svelte";
import Force from "./Force.svelte";
import { tableau } from "../../stores.js";
import { get } from "../../../api.js";

class MagicMap {
  constructor() {
    this.nodes = [];
    this.links = [];
    this.roomIds = new Set();
  }
  addNode(
    {
      pk,
      exits = [],
      color_hex = "#000",
      name = "undiscovered",
      warnings = [],
    },
    visited
  ) {
    // console.log("addNode 1")
    if (this.roomIds.has(pk)) {
      return;
    }
    // console.log("addNode 2")
    this.nodes.push({
      id: pk,
      colorHex: color_hex,
      name: name,
      visited: visited,
      exitCount: exits.length,
      warnings: warnings,
      hovered: false,
    });
    // console.log("addNode 3")
    this.roomIds.add(pk);
  }
  addLink(sourceId, targetId) {
    // console.log("addLink 1")
    if (this.roomIds.has(sourceId) && this.roomIds.has(targetId)) {
      // console.log("addLink 2")
      if (this.links.find(d => d.source.id == targetId && d.target.id == sourceId) !== undefined) {
        // console.log("addLink -- dedupe 1")
        // dedupe links
        return
      }
      if (this.links.find(d => d.source.id == sourceId && d.target.id == targetId) !== undefined) {
        // console.log("addLink -- dedupe 2")
        // dedupe links
        return
      }
      // console.log("addLink 4")
      this.links.push({
        source: this.nodes.find(d => d.id == sourceId),
        target: this.nodes.find(d => d.id == targetId),
        visited: this.nodes.find(d => d.id == sourceId).visited && this.nodes.find(d => d.id == targetId).visited,
        opacity: 0.5,
      });
    }
  }
  withinSteps(currentRoom, allRooms, steps=3) {
    // console.log("withinSteps 1")
    const nearby = new Set()
    // console.log("withinSteps 2")
    nearby.add(currentRoom.pk);
    // console.log("withinSteps 3")
    if (steps == 0) {
      return nearby
    }
    // console.log("withinSteps 4")
    const _current = allRooms.find(d => d.room.pk == currentRoom.pk)
    // console.log("withinSteps 5")
    if (_current === undefined) {
      return nearby
    }
    // console.log("withinSteps 6")
    // console.log(_current);
    _current.room.exits.forEach(d => {
      this.withinSteps(d, allRooms, steps - 1).forEach(v => {
        nearby.add(v)
      })
    })
    // console.log("withinSteps 7")
    return nearby
  }
  data(room, visited) {
    // current room is inherently visited
    // console.log("here1")
    console.log("room", room);
    this.addNode(room, true);
    // go over visited rooms within three steps
    const nearbyVisitedRoomPks = this.withinSteps(room, visited, 3)
    // console.log("nearbyVisitedRoomPks",nearbyVisitedRoomPks);
    console.log("visited", visited)
    visited.forEach((_room) => {
      // console.log(_room)
      if (nearbyVisitedRoomPks.has(_room.room.pk)) {
        this.addNode(_room.room, true)
      }
    })
    // console.log(this.nodes);
    // console.log(this.roomIds);
    // console.log("here2")
    visited.forEach((_source) => {
      // console.log(_source)
      _source.room.exits.forEach((_target) => {
        // console.log(_target)
        this.addLink(_source.room.pk, _target.pk);
      })
    })

    // console.log("here3")
    room.exits.forEach((exit) => {
      // all exits are inherently nearby
      this.addNode(exit, false)
    })
    // console.log("here4")
    room.exits.forEach((exit) => {
      // all exits are inherently nearby
      this.addLink(room.pk, exit.pk)
    })
    console.log(this.nodes)
    console.log(this.links)
    return { nodes: this.nodes, links: this.links };
  }
}

let data = {nodes: [], links: []};
async function initialize() {
  const visited = await get("v1/guild/character_visits/");
  const magicMap = new MagicMap();
  data = magicMap.data($tableau.room, visited);
  return data
}
let initPromise = initialize();

function focusNode({detail}) {
  console.log(data)
  console.log(detail.node.id);
  const _found_node = data.nodes.find(d => d.id == detail.node.id);
  if (_found_node !== undefined) {
    _found_node.hovered = true;
  }
}
</script>

<Template>
  <section class="map-section" slot="content">
    {#await initPromise}
      ...Loading
    {:then}
      <LayerCake data="{data}">
        <Svg>
          <Force
            on:focusNode={focusNode}
          />
        </Svg>
      </LayerCake>
    {:catch err}
      I hate to break it to you... You're probably dead.
    {/await}
  </section>
</Template>

<style>
section {
  height: 500px;
  width: 100%;
}
</style>
