{% extends "base.html" %}

{% block body_class %}terms{% endblock %}

{% block content %}
<section class="content">
    {% if form.errors %}
    {# <p>Your passwords didn't match. Please try again.</p> #}
    {{form.errors}}
    {% endif %}
    <p>This site uses cookies to track your progress while logged in, <a href="{% url 'privacy' %}">for full privacy disclosure view our privacy statement</a></p>
    <form method="post" action="{% url 'account:terms' %}">
    {% csrf_token %}
    {{ form.as_table }}
    <input type="submit" value="Play!">
    <input type="hidden" name="next" value="{{ next }}">
    </form>
</section>
{% endblock %}