{% extends "base.html" %}

{% block body_class %}logout{% endblock %}

{% block content %}
<section class="content">
    <h1>Bye Felicia!</h1>
    <p>You are now logged out.</p>
</section>
{% endblock %}