{% extends "base.html" %}

{% block body_class %}register{% endblock %}

{% block content %}
<section class="content">
    {% if form.errors %}
    {# <p>Your passwords didn't match. Please try again.</p> #}
    {{form.errors}}
    {% endif %}


    <form method="post" action="{% url 'account:register' %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password1.label_tag }}</td>
        <td>{{ form.password1 }}</td>
    </tr>
    <tr>
        <td>{{ form.password2.label_tag }}</td>
        <td>{{ form.password2 }}</td>
    </tr>
    </table>

    <input type="submit" value="register">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'account:login' %}">Already have account?</a></p>
</section>
{% endblock %}