{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    {% block head_meta %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <title>{% block page_title %}{% endblock %}</title>
    {% block page_css %}
      {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'main.scss' %}">
      {% endcompress %}
    {% endblock %}
    {% block head_script %}
    {% endblock %}
  </head>
  <body class="text-view {% block body_class %}{% endblock %}" style="{% block body_style %}{% endblock %}">
    {% block inner_body %}
      <div class="content">
        {% block header %}
          {% include "header.html" %}
        {% endblock %}
        {% block main %}
          <main>
            {% block sidebar %}
            {% endblock %}
            {% block content %}
            {% endblock %}
          </main>
        {% endblock %}
        {% block footer %}
          <footer class="actions-panel">
            {% if actions %}
              <ul class="actions">
                {% for action in actions %}
                  <li {% if forloop.first %}class="selected"{% endif %}><a href="{{ action.url }}">{{ action.text }}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </footer>
        {% endblock %}
      </div>
    {% endblock %}
    {% block toggle_view_script %}
    {% endblock %}
    {% block page_script %}
    {% endblock %}
  </body>
</html>
