<header>
    <div>
       <span class="header-title">{% if character %}<a href="{% url 'guild:character' character.pk %}">{% if character.kind.lower == 'fungus' %}🍄{% endif %}{% if character.kind.lower == 'animal' %}🐴{% endif %}{% if character.kind.lower == 'bird' %}🐤{% endif %}{% if character.kind.lower == 'robot' %}🤖{% endif %}{% if character.kind.lower == 'human' %}🤨{% endif %}{% if character.kind.lower == 'ghost' %}👻{% endif %}{% if character.kind.lower == 'vegetable' %}🥕{% endif %} "{{ character.name }}"{% endif %}</a></span>
        <ul class="nav">
            {% if request.user.is_anonymous %}
                <li><a href="{% url 'account:login' %}">Log In</a></li>
            {% else %}
                <li><a href="{% url 'account:logout' %}">Log Out</a></li>
                <li><a href="/admin/">Admin</a></li>
            {% endif %}
        </ul>
    </div>
</header>
