{% if object.vimeo_id %}
    <div class="player iframe-container">
        <iframe src="https://player.vimeo.com/video/{{ object.vimeo_id }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
{% endif %}
{% if object.youtube_id %}
    <div class="player iframe-container">
        <iframe src="https://www.youtube.com/embed/{{ object.youtube_id }}" frameborder="0" allowfullscreen></iframe>
    </div>
{% endif %}
{% if object.hosted_video_link %}
    <div class="player">
    <video controls autoplay loop>
        <source src="{{ object.hosted_video_link }}" type="video/mp4"></source>
        <!-- {% for subtitle in video.subtitles %}
            <track label="{{subtitle.name}}" kind="subtitles" srclang="{{subtitle.language}}" src="{{subtitle.path}}" default>
        {% endfor %} -->
    </video>
    </div>
{% endif %}