

ul {
    list-style: square;
}
body {
    background-color: $off-white !important; //temp override of the injected background color from rooms
    margin: 0px;
    padding: 0px;
    color: #170b0b;
    a {
        color: #170b0b;
    }
}

section, sidebar {
    //@include dark-background-style;
    //border-radius: $border-radius;
}

header {
    padding-bottom: $spacing-unit;
}

header > div{
    @include dark-background-style;
    padding: $spacing-unit;
}

h1, h2 {
    font-family: 'theano_didotregular', serif;
    //font-family: 'Portfolio', sans-serif;
    padding: 4px;
    margin: $spacing-unit;
    
}
h1 {
    
    font-size: 2rem;
    @media only screen and (min-width: 420px) {
        font-size: 3rem;
    }
}
h2 {
    font-size: 1.5rem;
    @media only screen and (min-width: 420px) {
        font-size: 2rem;
    }
}
h3 {
    font-size: 1rem;
    font-weight: 500;
}

/* section.character-section, section.item-section {
    .item, .icon {
        filter: invert(100%);
    }
} */