//iconic styles show a grotto app as viewed in a paper-sketched imaginary computer.
//Interactions are re-imagined to work with an Atari 2600 style one-button joystick.
//This design style was created for the Mud Room art installation in 2022


$grid-cell-width: 10px;
$grid-cell-height: 7.5px;
$grid-block-width: 200px;
$grid-block-height: 200px;
$background-color: rgb(71, 150, 126);
$inverse-color: lighten(invert($color: $background-color), 20%);






body.icon-ui-view{
    
    padding: 0;
    margin: 0;
    font-family: "Portfolio", monospace;
    background-color: $background-color;
    overflow: hidden;
    
    &.illuminate-dark {
        .content {
            @include darkscanlines();
        }
        @include black();
    }
    &.illuminate-dim {
        .content {
            @include darkscanlines();
        }
        
    }

    &.cleanliness-profane {
        .content {
            @include profane();
        }
        //@include black();
    }
    &.cleanliness-dirty {
        .content {
            @include dirty();
        }
        
    }
    
    section, sidebar {
        background-color: transparent;
        color:rgb(16, 16, 16);
    }

    &.index .news {
        border: none;
        background-color: transparent;
        line-height: 24px;
        em:first-letter {
            font-family: "Portfolio", monospace;
            font-size: 40px;
            @include darkText;
        }
    }
    
    :focus {
        outline: none;
    }

    ul.nav {
        list-style: none;
    }
    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        max-height: 100vh;
        overflow-y: auto;
        //scroll-behavior: smooth;
        width: 100%;
    }

    header{
        display: none;
    }
    sidebar {
        display: none;
    }
    h1 {
        @include darkText();
        font-family: "Portfolio", monospace;
        text-align: center;
        font-size: 4rem;
        line-height: 82px;
        padding: 4px;
        margin: 0;
    }

    h2 {
        @include darkText();
        font-family: "Portfolio", monospace;
        text-align: center;
        font-size: 3rem;
        line-height: 82px;
        padding: 4px;
        margin: 0;
    }
    span.room-url {
        text-align: center;
    }
    span.room-warning {
        text-align: center;
    }

    h3 {
        font-family: "Portfolio", monospace;
        @include blackText();
        margin: auto;
        font-size: 2.3rem;
        line-height: 2.6rem;
    }
    img.portrait {
        min-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        max-width: 100%;
    }

    pre {
        white-space: pre-wrap;
        
        color: rgb(16, 16, 16);
        -webkit-text-fill-color: rgb(16, 16, 16);
    }
    .obituary {
        font-size: 12px;
        line-height: 20px;
    }
    details {
        display: inline;
        padding-bottom: 10px;
        -webkit-text-fill-color:inherit;
        margin-top: 10px;
    }
    summary {
        padding-bottom: 10px;
        line-height: 20px;
    }
    details[open] {
        font-family: "Portfolio", monospace;
        
        color: #000;
    }

    details[open] > summary {
        font-family: "Portfolio", monospace;
        @include darkText();
        
    }

    

    a-scene {
        display: none;
    }

    &.cenotaph section.cenotaph-content {
        
        border-radius: 0px;
    }
    

    
    .events {
        
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 40px;
        li {
            padding-bottom:4px;
        }
    }
    
    .content {
        display: flex;
        flex-direction: column;
        height: 100vh;
        //height: 100%; /* Fallback */
        //height: -moz-available;
        //height: -webkit-fill-available;
        //height: fill-available;
        //height: stretch;
        // end ipad stickyfooter overflow fix
        color: rgb(16, 16, 16);
        background-color: rgba(255,255,255,0.03); //there's always a little white on the background to keep stuff visible
        * {
            box-sizing: border-box;
        }
    }

   

    .room-view {
        //background-color: rgb(77, 77, 77);
        //border: 2px solid #000;
        //min-height: 50vh;
        width: 100%;
        justify-content: center;
        align-items: center;
        
        
    }
    .exits {
        //background-color: desaturate(darken($background-color, 20%), 40%);
        @include scanlines();
        padding: 20px;
    }
    .UIpanel {
        width: 100%;
        display: flex;
        flex-direction: column;
        //flex: 1;
        ul {
            margin-left:0;
            padding-left: 0;
            list-style: square;
            //li {background-color: rgb(103, 103, 103);}
            //li:nth-child(even) {background-color: rgb(255, 255, 255);}
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: row wrap;
        }
    }

   


    .status-bar {
        min-height: $grid-cell-height * 3;
        max-height: $grid-cell-height * 9;
        line-height: $grid-cell-height * 3;
        font-size: 1 rem;
        text-align: center;
        //background-color:rgb(38, 38, 38);
        @include darkscanlines();
        color: $inverse-color;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        span {
            display:inline-block;
        }
    }
    .action-bar {
        min-height: $grid-cell-height * 3;
        line-height: $grid-cell-height * 3;
        font-size: 1 rem;
        text-align: center;
        //background-color:darken(invert($color: $background-color), 20%);
        @include black();
        color: $inverse-color;
    }

    .characterPanel {
        z-index: 5;
        padding:0;
        a {
            color: #fff;
        }
    }
    li.exit, li.item, li.character {
        list-style: none;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;
        &.selected {
            //background-color: rgba(255,255,255,0.4);
            //@include pulsate();
            filter: invert(100%);
            //background-color: darken($background-color, 40%);
            
        };
        
        .counter {
            font-size: 12px;
            float:right;
            padding-right:40px;
            padding-top:10px;
        }
    }

    

    li.exit {
        background-image: url('/static/images/door.png');
        width: 90px;
        height: 90px;
        background-size: 90px;
        &:before {
            content:none;
        }
        &.up {
            background-image: url('/static/images/door_up.png'); 
        }
        &.down {
            background-image: url('/static/images/door_down.png'); 
        }
    }    
    
    li.wumpus {
        background-image: url('/static/images/wumpus.png');
    }
    li.character {
        background-image: url('/static/images/human.png');
        &.robot {
            background-image: url('/static/images/robot.png'); 
        }
        &.animal {
            background-image: url('/static/images/animal.png'); 
        }
        &.bird {
            background-image: url('/static/images/bird.png'); 
        }
        &.ghost {
            background-image: url('/static/images/ghost.png'); 
        }
        &.bird {
            background-image: url('/static/images/bird.png'); 
        }
        &.vegetable {
            background-image: url('/static/images/vegetable.png'); 
        }
        &.fungus {
            background-image: url('/static/images/fungus.png'); 
        }
        &.obelisk {
            background-image: url('/static/images/obelisk.png'); 
        }
        &.trader {
            background-image: url('/static/images/trader.png');
        }
        &.latrine {
            background-image: url('/static/images/latrine.png');
        }
    }

    li.item, li.character{
        
        list-style: none;
        display: block;
        width: $grid-block-width;
        height: $grid-block-height;
        background-size: 130px,135px;
        height: 135px;
    }
    li.item {
        background-image: url('/static/images/unknown.png');
        &.scrubbrush {
            background-image: url('/static/images/scrubbrush.png');
        }
        &.candle {
            background-image: url('/static/images/candle_sm.png');
            
        }
        &.arrow {
            background-image: url('/static/images/arrow_sm.png');
            
        }
        &.shield {
            background-image: url('/static/images/shield.png');
            
        }
        &.candle-active {
            background-image: url('/static/images/candle_sm_active.png');
        
        }
        &.incense {
            background-image: url('/static/images/incense_sm.png');
            
        }
        &.incense-active {
            background-image: url('/static/images/incense_sm_active.png');
        }
        &.cenotaph {
            background-image: url('/static/images/cenotaph_sm.png');
            
        }    
        &.feces, &.feces-active {
            background-image: url('/static/images/feces.png');
        }
        &.collectable {
            background-image: url('/static/images/box.png');
        }
        &.decoration {
            background-image: url('/static/images/flower.png');
        }
        &.eyes {
            background-image: url('/static/images/eyes.png');
        }
    }
    section.character-section, section.item-section {
        .item, .icon {
            filter: none;
        }
    }
}
//temporary fix for cenotaphs not having the gui class added
