
@mixin actions-panel-style {
    //background-color: rgba(5, 5, 5, 0.7);
    //background-color: none;
    //@include black;
    color: #fff;
    padding: 10px;
    a {
        color: #fff;
    }
}

body.text-view{
    ul {
        padding-inline-start: 24px;
    }
    ul.exits {
        list-style: none;
        padding: 0px;

        li:before {
            content: '';
            width: 20px;
            height: 30px;
            position: absolute;
            background-image: url('/static/images/door-small.png');
            background-size: 20px 30px;
            background-position: center;
            left: 0;
            //top: 50%;
            background-color: #fff;
            margin: 2px;
        }
        li {
            vertical-align: middle;
            position: relative;
            padding-left: 24px;
            line-height: 34px;
        }
        li.down:before {
            background-image: url('/static/images/door_down-small.png');
        }
        li.up:before {
            background-image: url('/static/images/door_up-small.png');
        }
        li.portal:before {
            background-image: url('/static/images/door_portal-small.png');
        }
        li.item_portal:before {
            background-image: url('/static/images/door_portal-small.png');
        }
        li.trapped:before {
            background-image: url('/static/images/door_trapped-small.png');
        }
        li.locked:before {
            background-image: url('/static/images/door_locked-small.png');
        }
        
    }
    &.illuminate-dark {
        ul.exits {
            li:before {
                background-image: url('/static/images/door_dark-small.png');
            }
        }
    }
    

    /* .character-section {
        .icon {
            filter: invert(100%);
        }
    } */

    footer.characterPanel, footer.actions-panel {
        @include actions-panel-style;
    }
}
