<script>
import { getContext } from "svelte";
import Time from "svelte-time";

const changeLocale = getContext("changeLocale");

import SelectableList from "../SelectableList.svelte";
import Template from "../Template.svelte";
import { cenotaph } from "../stores.js";
import { eventConsolidator } from "../../util.js";

let focusGroup = "footer";

$: footerActions = [
  {
    handler: () => changeLocale("previous"),
    text: "Return",
  },
];

function putFocus(el) {
  if (el !== null && el !== undefined) {
    el.focus();
  }
}

let events = [];
$: {
  if ($cenotaph !== undefined && $cenotaph !== null) {
    events = eventConsolidator($cenotaph.events);
  }
}
</script>

{#if $cenotaph !== null && $cenotaph !== undefined}
  <Template>
    <section class="cenotaph-content" slot="content">
      <h1>{$cenotaph.name}</h1>
      {#if $cenotaph.birth}
        {$cenotaph.birth}
      {:else}
        ????
      {/if}&mdash;
      {#if $cenotaph.death}
        {$cenotaph.death}
      {:else}
        ????
      {/if}
      {#if $cenotaph.portrait}
        <img
          id="portrait"
          class="portrait"
          src="{$cenotaph.portrait}"
          alt="Portrait of {$cenotaph.name}"
        />
      {/if}
      <div class="obituary">
        <h3>Inscription:</h3>
        {@html $cenotaph.text}
      </div>
      <h3>Cenotaph Manifest:</h3>
      <ul class="events">
        {#each events as event}
          <li>
            {event.text} &mdash; <Time timestamp="{event.created}" relative />
          </li>
        {/each}
      </ul>
      {#if $cenotaph.scene}
        {@html $cenotaph.scene}
      {/if}
    </section>
    <footer class="characterPanel" slot="footer">
      <div class="status-bar">You examine the Cenotaph</div>
      <div class="action-bar">
        <SelectableList
          actions="{footerActions}"
          focusGroup="footer"
          groupWithFocus="{focusGroup}"
        />
      </div>
    </footer>
  </Template>
{/if}
