<script>
import { getContext } from "svelte";
import Time from "svelte-time";

import Template from "../Template.svelte";
import SelectableList from "../SelectableList.svelte";
import ItemStack from "../ItemStack.svelte";
import { viewedCharacter, userDetails } from "../stores.js";
import { get } from "../../api.js";
import { eventConsolidator } from "../../util.js";
let header = "...Loading";

let myCharacters = [];
let myCharacter = false;
const changeLocale = getContext("changeLocale");
const becomeCharacter = getContext("becomeCharacter");

function isMyCharacter(character) {
  return (
    !character.dead && -1 != myCharacters.findIndex((d) => d.pk == character.pk)
  );
}

async function initialize() {
  myCharacters = await get(`v1/guild/characters/?user=${$userDetails.pk}`);
  myCharacter = isMyCharacter($viewedCharacter);
}
initialize();

function updateViewedCharacter(character) {
  if (character === null) {
    return;
  }
  const dead = character.dead ? "dead " : "";
  header = `${character.name} the ${dead}${character.kind}`;
  myCharacter = isMyCharacter(character);
}
$: updateViewedCharacter($viewedCharacter);

const defaultFooterActions = [
  {
    handler: () => changeLocale("guild"),
    text: "Other Characters",
  },
  {
    handler: () => changeLocale("previous"),
    text: "Back",
  },
];
const myCharacterActions = [
  {
    handler: () => becomeCharacter($viewedCharacter),
    text: "Become This Character",
  },
];

let footerActions = defaultFooterActions;
$: {
  if (myCharacter) {
    footerActions = [...defaultFooterActions, ...myCharacterActions];
  } else {
    footerActions = defaultFooterActions;
  }
}

let events = [];
$: {
  events = eventConsolidator($viewedCharacter.events);
}
</script>

<Template>
  <section class="character-section" slot="content">
    <div class="icon character {$viewedCharacter.kind.toLowerCase()}"></div>
    <h2>{header}</h2>
    <p>Name: {$viewedCharacter.name}</p>
    <p>Kind: {$viewedCharacter.kind}</p>
    <p class="description">
      Description: {$viewedCharacter.description}
    </p>
    <h3>Skills:</h3>
    <ul>
      {#each $viewedCharacter.skills as skill}
        <li>{skill.name}: {skill.level}</li>
      {:else}
        <li>No skills</li>
      {/each}
    </ul>
    <h3>Inventory:</h3>
    <ul>
      {#each $viewedCharacter.inventory as stack}
        <li>
          <ItemStack stack="{stack}" />
        </li>
      {:else}
        <li>No items</li>
      {/each}
    </ul>
    <h3>History:</h3>
    <ul>
      {#each events as event}
        <li>
          [{event.room}] {event.text} &mdash; <Time timestamp="{event.created}" relative />
        </li>
      {:else}
        <li>No history</li>
      {/each}
    </ul>
  </section>
  <footer slot="footer" class="actions-panel">
    <SelectableList
      actions="{footerActions}"
      selectedIdx="{1}"
      wrapHorizontal="{true}"
    />
  </footer>
</Template>
