<script>
import { getContext } from "svelte";
import Template from "../Template.svelte";
const changeLocale = getContext("changeLocale");
import SelectableList from "../SelectableList.svelte";

import { get, post } from "../../api.js";
import { viewedCharacter } from "../stores.js";

let state = "initializing"; // "ready"|"seated"|"asking"|"done"|"retort"|"responded"

let questionIndex = null;
let questions = [];
let question = null;

async function initialize() {
  // load in questions already in random order
  questions = await get("v1/guild/character_tests/");
  questionIndex = -1;
  state = "ready";
  pickQuestion();
}
initialize();

let formElement = null;

function pickQuestion() {
  questionIndex += 1;
  if (questionIndex >= questions.length) {
    state = "done";
    question = null;
    return;
  }
  question = questions[questionIndex];
  if (formElement !== null) {
    formElement.reset();
  }
}

function roll(max) {
  return Math.floor(Math.random() * max);
}

let newCharacter = null

function answerQuestion() {
  if (newCharacter !== null) {
    state = "done";
    question = null;
    return
  }
  state = "asking";
  pickQuestion();
  if (roll(20) > 12) {
    post("v1/guild/characters/new/", {}).then((response) => {
      newCharacter = response;
    })
  }
}

async function viewCharacter() {
  // roll a new character
  // const newCharacter = await post("v1/guild/characters/new/", {});
  // set the character to view
  viewedCharacter.set(newCharacter);
  changeLocale("character");
}

let footerActions = [];

$: if (state == "ready") {
  footerActions = [
    {
      handler: () => changeLocale("previous"),
      text: "Return",
    },
    {
      handler: () => (state = "seated"),
      text: "Sit down before the crone",
    },
  ];
  focusGroup = "footer";
  selectedIdx = 1;
} else if (state == "seated" || state == "asking") {
  footerActions = [
    {
      handler: pickQuestion,
      text: "Skip this question",
    },
  ];
  selectedIdx = question === null ? 0 : parseInt(question.choices.length / 2);
  focusGroup = "main";
} else if (state == "done") {
  footerActions = [
    {
      handler: viewCharacter,
      text: "View Character",
    },
  ];
  selectedIdx = 0;
  focusGroup = "footer";
}

let focusGroup = "footer";
let selectedIdx = 0;

$: focusGroups = {
  main: {
    vertical: {
      "-1": {
        group: "footer",
        startIdx: 0,
      },
      "1": {
        group: "footer",
        startIdx: 0,
      },
    },
  },
  footer: {
    vertical: {
      "-1": {
        group: "main",
        startIdx: question === null ? 0 : parseInt(question.choices.length / 2),
      },
      "1": {
        group: "main",
        startIdx: question === null ? 0 : parseInt(question.choices.length / 2),
      },
    },
  },
};

function bumpFocus({ detail }) {
  const _current = focusGroups[focusGroup];
  if (_current[detail.direction] === undefined) {
    // nowhere to go
    return;
  }
  if (_current[detail.direction][detail.signum] === undefined) {
    // nowhere to go
    return;
  }
  focusGroup = _current[detail.direction][detail.signum].group;
  selectedIdx = _current[detail.direction][detail.signum].startIdx;
}

let questionActions = [];
function repackQuestion(_question) {
  if (_question === null) {
    return;
  }
  questionActions = [];
  _question.choices.forEach((d) => {
    questionActions.push({
      handler: answerQuestion,
      text: d.choice,
    });
  });
}

$: repackQuestion(question);
</script>

<Template>
  <section class="content" slot="content">
    <p><img src="/static/images/altar.png" alt="Altar of the Crone" /></p>
    <h1>Speak to Crone (Create Character)</h1>
    {#if state == "initializing" || state == "ready"}
      <p>The crone looks at you and gives her deck another riffle.</p>
    {:else if state == "seated"}
      <p>
        <em>The crone penetrates you with her all-seeing eye and asks...</em>
      </p>
      <p>{question.question}</p>
    {:else if state == "asking"}
      <p>
        <em>Unsatisfied, the crone demands you answer another question...</em>
      </p>
      <p>{question.question}</p>
    {:else if state == "done"}
      <p>
        "You have answered my questions and I can see clearly what sort of a
        being you are. Now... know thyself!"
      </p>
    {/if}

    {#if question !== null && (state == "seated" || state == "asking")}
      <SelectableList
        actions="{questionActions}"
        focusGroup="main"
        groupWithFocus="{focusGroup}"
        selectedIdx="{selectedIdx}"
        displayDirection="vertical"
        on:change="{bumpFocus}"
      />
    {/if}
  </section>
  <footer class="actions-panel" slot="footer">
    <SelectableList
      actions="{footerActions}"
      focusGroup="footer"
      groupWithFocus="{focusGroup}"
      wrapHorizontal="{true}"
      selectedIdx="{selectedIdx}"
      on:change="{bumpFocus}"
    />
  </footer>
</Template>
