<script>
import { getContext } from "svelte";
import dayjs from "dayjs/esm";
const changeLocale = getContext("changeLocale");

import SelectableList from "../SelectableList.svelte";
import Template from "../Template.svelte";
import PlayerMessages from "../PlayerMessages.svelte";
import { viewedCharacter } from "../stores.js";

import { get } from "../../api.js";

let mainActions = [];

async function initialize() {
  let deadCharacters = await get(`v1/guild/characters/?dead=true`);
  let actions = [];
  deadCharacters.forEach((d) => {
    actions.push({
      handler: () => {
        viewedCharacter.set(d);
        changeLocale("character");
      },
      text: `${d.name} the ${d.kind}`,
      suffixText: `(${dayjs(d.pub_date).format("MMM D, YYYY")} to ${dayjs(
        d.death_date
      ).format("MMM D, YYYY")})`,
    });
  });
  // console.log(actions);
  mainActions = actions;
  document.body.classList.remove("dead");
  return actions;
}
const initPromise = initialize();

let footerActions = [
  {
    handler: () => changeLocale("guild"),
    text: "Return to guild hall",
  },
];

let focusGroup = "footer";
let selectedIdx = 0;

$: focusGroups = {
  main: {
    vertical: {
      "-1": {
        group: "footer",
        startIdx: 0,
      },
      "1": {
        group: "footer",
        startIdx: 0,
      },
    },
  },
  footer: {
    vertical: {
      "-1": {
        group: "main",
        startIdx: mainActions.length,
      },
      "1": {
        group: "main",
        startIdx: -1,
      },
    },
  },
};

function bumpFocus({ detail }) {
  const _current = focusGroups[focusGroup];
  if (_current[detail.direction] === undefined) {
    // nowhere to go
    return;
  }
  if (_current[detail.direction][detail.signum] === undefined) {
    // nowhere to go
    return;
  }
  focusGroup = _current[detail.direction][detail.signum].group;
  selectedIdx = _current[detail.direction][detail.signum].startIdx;
}
</script>

<Template>
  <section class="crypt-section" slot="content">
    <h2>The Crypt</h2>
    <p>
      A musty stone chamber in whose chiseled coffers rest the brittle remains
      of the moribund.
    </p>
    <PlayerMessages />

    {#await initPromise}
      ...Loading
    {:then deadCharacterActions}
      <SelectableList
        actions="{deadCharacterActions}"
        focusGroup="main"
        groupWithFocus="{focusGroup}"
        displayDirection="vertical"
        selectedIdx="{selectedIdx}"
        on:change="{bumpFocus}"
      />
    {/await}
  </section>
  <footer slot="footer" class="actions-panel">
    <SelectableList
      actions="{footerActions}"
      focusGroup="footer"
      groupWithFocus="{focusGroup}"
      selectedIdx="{selectedIdx}"
      wrapHorizontal="{true}"
      on:change="{bumpFocus}"
    />
  </footer>
</Template>
