<script>
import { getContext } from "svelte";
import { tableau, animationDisplayed, animationRunning, showAnimation, spritesheetPath } from "../stores.js";

spritesheetPath.set("/static/grottopaint/spritesheets/grotto40x30-cp437@1x.png");

const changeLocale = getContext("changeLocale");
import SelectableList from "../SelectableList.svelte";

import PlayerMessages from "../PlayerMessages.svelte";
import Template from "../Template.svelte";
import AnimationScreen from "../grottopaint/animations/AnimationScreen.svelte";

const actions = [
  {
    handler: () => changeLocale("guild"),
    text: "Return to guild hall",
  },
  {
    handler: () => changeLocale("crypt"),
    text: "Visit Crypt",
  },
];

document.body.classList.add("dead");

animationRunning.set(true);

</script>

<Template>
  <section class="content" slot="content">
    <h1>You have died. Sorry.</h1>
    <p>{$tableau.character.deathnote}</p>
    <PlayerMessages />
    <SelectableList
      actions="{actions}"
      displayDirection="vertical"
      selectedIdx="0"
      wrapVertical="{true}"
    />
    {#if $animationRunning}
      <AnimationScreen
        flipbookName="wumpus_bite"
        flipbookRepeat={false}
        flipbookRate=7
      />
    {:else}
      <img src="/static/images/reaper.png" alt="The grim reaper leers at you." />
    {/if}
  </section>
</Template>
