<script>
import { getContext } from "svelte";

import Template from "../Template.svelte";
import SelectableList from "../SelectableList.svelte";
import PlayerMessages from "../PlayerMessages.svelte";
import { userDetails, viewedCharacter } from "../stores.js";

import { get } from "../../api.js";

// get auth token
let authToken = "not-a-real-token";

const changeLocale = getContext("changeLocale");
const becomeCharacter = getContext("becomeCharacter");

async function initializeToken() {
  let tokenResponse = await get("v1/account/api_token/");
  authToken = tokenResponse.token;
}
initializeToken();

let mainActions = [];
let livingCharacterCount = 0;

async function initialize() {
  let livingCharacters = await get(
    `v1/guild/characters/?dead=false&user=${$userDetails.pk}`
  );
  livingCharacterCount = livingCharacters.length;
  let actions = [];
  livingCharacters.forEach((c) => {
    actions.push({
      handler: () => {
        viewedCharacter.set(c);
        changeLocale("character");
      },
      text: `${c.name} the ${c.kind}`,
      altHandler: () => becomeCharacter(c),
      altText: "become",
    });
  });
  mainActions = actions;
  document.body.classList.remove("dead");
  return actions;
}
const initPromise = initialize();

function getFooterActions(count) {
  const _footerActions = [
    {
      handler: () => changeLocale("crypt"),
      text: "Visit past heroes",
    },
  ];
  if (count < 8) {
    _footerActions.push({
      handler: () => changeLocale("crone"),
      text: "Speak to Crone (Create Character)",
    });
  }
  return _footerActions;
}

$: footerActions = getFooterActions(livingCharacterCount);

let focusGroup = "footer";
let selectedIdx = 1;

$: focusGroups = {
  main: {
    vertical: {
      "-1": {
        group: "footer",
        startIdx: 1,
      },
      "1": {
        group: "footer",
        startIdx: 1,
      },
    },
  },
  footer: {
    vertical: {
      "-1": {
        group: "main",
        startIdx: mainActions.length,
      },
      "1": {
        group: "main",
        startIdx: -1,
      },
    },
  },
};

function bumpFocus({ detail }) {
  const _current = focusGroups[focusGroup];
  if (_current[detail.direction] === undefined) {
    // nowhere to go
    return;
  }
  if (_current[detail.direction][detail.signum] === undefined) {
    // nowhere to go
    return;
  }
  focusGroup = _current[detail.direction][detail.signum].group;
  selectedIdx = _current[detail.direction][detail.signum].startIdx;
}
</script>

<Template>
  <section class="guild-section" slot="content">
    <h2>The Adventurer's Guild</h2>
    <p>
      This is the waiting area outside of the maze.
      {#if livingCharacterCount < 8}
        Seated at a table in a darkened corner is a smiling crone. She gestures
        towards an empty seat and shuffles a tarot deck.
      {/if}
    </p>
    <!-- <p>
      The barkeep has slipped a note into your pocket containing a cryptic
      message, it must have some secret meaning. It says: "<span
        class="secret authentication-header">Token {authToken}</span
      >"
    </p> -->
    <!--<p>
      "To switch between text and GUI views use the <kbd>`</kbd> key," he says incomprehensibly.
    </p> -->
    <PlayerMessages />

    {#await initPromise}
      ...Loading
    {:then livingCharacters}
      {#if livingCharacters.length > 0}
        <p>
          Squinting at a glint of light in the crone's crystal ball you see:
        </p>
      {/if}
      <SelectableList
        actions="{livingCharacters}"
        focusGroup="main"
        groupWithFocus="{focusGroup}"
        displayDirection="vertical"
        hasAltAction="{true}"
        selectedIdx="{selectedIdx}"
        on:change="{bumpFocus}"
      />
    {/await}
  </section>
  <footer class="actions-panel" slot="footer">
    <SelectableList
      actions="{footerActions}"
      focusGroup="footer"
      groupWithFocus="{focusGroup}"
      wrapHorizontal="{true}"
      selectedIdx="{selectedIdx}"
      on:change="{bumpFocus}"
    />
  </footer>
</Template>
