<script>
import { getContext } from "svelte";
import Template from "../Template.svelte";
import { get } from "../../api.js";
import { tableauPromise, tableau } from "../stores.js";
const changeLocale = getContext("changeLocale");

let inited = false;
function initTableau() {
  const tPromise = get(`v1/game/tableau/`);
  tableauPromise.set(tPromise);
  inited = true;
}
initTableau();

function updateLocale(_tableau) {
  if (_tableau !== undefined && inited) {
    if (_tableau.character === null) {
      changeLocale("guild");
    } else if (_tableau.character.dead) {
      changeLocale("dead");
    } else {
      changeLocale("room");
    }
  }
}
$: updateLocale($tableau);
</script>

<Template>
  <section slot="content">...Loading</section>
</Template>
