<script>
import { getContext } from "svelte";
import Time from "svelte-time";

import Template from "../Template.svelte";
import SelectableList from "../SelectableList.svelte";
import ItemStack from "../ItemStack.svelte";
import { viewedNpc, userDetails } from "../stores.js";
import { get } from "../../api.js";
let header = "...Loading";

const changeLocale = getContext("changeLocale");

function updateViewedNpc(npc) {
  if (npc === null) {
    return;
  }
  header = `${npc.name}`;
}
$: updateViewedNpc($viewedNpc);

const defaultFooterActions = [
  {
    handler: () => changeLocale("previous"),
    text: "Back",
  },
];
let footerActions = defaultFooterActions;

function yesOrNo(_boolean) {
  return _boolean ? "yes" : "no"
}
</script>

<Template>
  <section class="character-section" slot="content">
    <div class="icon character {$viewedNpc.name}"></div>
    <h2>{header}</h2>
    <p>Name: {$viewedNpc.name}</p>
    <p class="description">
      Description: {$viewedNpc.description}
    </p>
    <h3>Hostile:</h3>
      {yesOrNo($viewedNpc.abstract_npc.hostile)}
    <h3>Incorporeal:</h3>
      {yesOrNo($viewedNpc.abstract_npc.incorporeal)}
    <h3>Demonic:</h3>
      {yesOrNo($viewedNpc.abstract_npc.demonic)}
    <h3>Mortal:</h3>
      {yesOrNo($viewedNpc.abstract_npc.mortal)}
    <h3>Loot:</h3>
    <ul>
      {#each $viewedNpc.abstract_npc.abstract_loot as _loot}
        <li>{_loot.name}</li>
      {:else}
        <li>None</li>
      {/each}
    </ul>
    <h3>Trades:</h3>
      {#each $viewedNpc.abstract_npc.swaps as swap}
        <li>
          {#if swap.picks_type !== null}
            {swap.picks_type}
          {:else if swap.picks_abstract_item !== null}
            {swap.picks_abstract_item.name}
          {/if} for
          {swap.puts.name}
        </li>
      {:else}
        <li>None</li>
      {/each}
  </section>
  <footer slot="footer" class="actions-panel">
    <SelectableList
      actions="{footerActions}"
      selectedIdx="{1}"
      wrapHorizontal="{true}"
    />
  </footer>
</Template>
