{% extends "base.html" %}

{% block page_title %}
  Arena
{% endblock %}

{% block body_class %}
  arena
{% endblock %}

{% block content %}
  
  {# remember that the initial design for this is on TWO portrait-mode displays, so message text gets complicated, is there a third display for messages? audio announcements? hmmmm. #}
  
  <section class="canvas">
    {# one big canvas stretched across two displays with two fighters in it or two canvases?? I've never done two canvases before! #}
  </section>
  <section class="readout">
    <div class="fighter1-readout">
        <p>Name: {{object.name}}</p>
        <p>Kind: {{object.kind}}</p>
        <p class="description">
            Description: {{ object.description }}
        </p>

        <h3>Equipment:</h3>
        <ul class="character-inventory-list">
            {# just a weapon item and maybe an armor item, not full inventory (maybe one day potions) #}
        {% for equipment in character.inventory.all %}
            <li>{{ equipment.name }}</li>
        {% endfor %}
        </ul>
        <h3>Skills:</h3>
        <ul>
        {% for skill in object.skills.all %}
            <li>{{ skill.name }}: {{ skill.level }}</li>
            {% empty %}
            (None)
            {% endfor %}
        </ul>

        <h3>Skills:</h3>
        <ul>
        {% for skill in object.skills.all %}
            <li>{{ skill.name }}: {{ skill.level }}</li>
            {% empty %}
            (None)
            {% endfor %}
        </ul>
    </div>
    <div class="fighter2-readout">
        <p>Name: {{object.name}}</p>
        <p>Kind: {{object.kind}}</p>
        <p class="description">
            Description: {{ object.description }}
        </p>

        <h3>Equipment:</h3>
        <ul class="character-inventory-list">
            {# just a weapon item and maybe an armor item, not full inventory (maybe one day potions) #}
        {% for equipment in character.inventory.all %}
            <li>{{ equipment.name }}</li>
        {% endfor %}
        </ul>
        <h3>Skills:</h3>
        <ul>
        {% for skill in object.skills.all %}
            <li>{{ skill.name }}: {{ skill.level }}</li>
            {% empty %}
            (None)
            {% endfor %}
        </ul>
    </div>
  </section>

{% endblock %}

{% block page_script %}

{% endblock %}