<script>
export let user;
import { getContext } from "svelte";
const changeLocale = getContext("changeLocale");

import Linky from "./Linky.svelte";
import { tableau, viewedCharacter } from "./stores.js";

let characterEmoji = "";
function setCharacterEmoji(kind) {
  switch (kind) {
    case "fungus":
      characterEmoji = "🍄";
      break;
    case "animal":
      characterEmoji = "🐴";
      break;
    case "bird":
      characterEmoji = "🐤";
      break;
    case "robot":
      characterEmoji = "🤖";
      break;
    case "human":
      characterEmoji = "🤨";
      break;
    case "ghost":
      characterEmoji = "👻";
      break;
    case "vegetable":
      characterEmoji = "🥕";
      break;
    default:
      characterEmoji = "";
      break;
  }
}

function updateCharacter(_tableau) {
  if (_tableau !== undefined && _tableau.character !== null) {
    setCharacterEmoji(_tableau.character.kind.toLowerCase());
  }
}
$: updateCharacter($tableau);
</script>

<header>
  <div>
    <span class="header-title">
      {#if $tableau !== undefined && $tableau.character !== null}
        <Linky
          on:click="{() => {
            viewedCharacter.set($tableau.character);
            changeLocale('character');
          }}">{characterEmoji} "{$tableau.character.name}"</Linky
        >
      {/if}
    </span>
    <ul class="nav">
      {#if user.is_anonymous}
        <li><a href="/accounts/login/">Log Out</a></li>
      {:else}
        <li><a href="/accounts/logout/">Log Out</a></li>
        {#if user.is_staff}
          <li><a href="/admin/">Admin</a></li>
        {/if}
      {/if}
    </ul>
  </div>
</header>
