<script>
import { createEventDispatcher } from "svelte";
const dispatch = createEventDispatcher();
export let selected = false;
export let active = false;
</script>

<span
  class="linky"
  class:selected
  class:active
  on:click="{(e) => dispatch('click', e.detail)}"
  on:touch="{(e) => dispatch('click', e.detail)}"
  on:mouseenter="{() => dispatch('mouseenter', {})}"
  on:mouseout="{() => dispatch('mouseout', {})}"
>
  <slot />
</span>

<style>
span.linky {
  text-decoration: underline;
  cursor: pointer;
}

span.linky.selected {
  background-color: #fff;
  color: #000;
}
</style>
