<script>
import { messages } from "./stores.js";
</script>

<ul class="messages">
  {#if $messages}
    {#each $messages.reverse() as message}
      <li>{message.message}</li>
    {/each}
  {/if}
</ul>
