<script>
import { createEventDispatcher } from "svelte";
const dispatch = createEventDispatcher();

import Linky from "./Linky.svelte";

export let actions = [];

export let wrapHorizontal = false;
export let wrapVertical = false;
export let displayDirection = "horizontal";
export let hasAltAction = false;
export let focusGroup = 0;
export let groupWithFocus = 0;

export let altSelected = false;
export let selectedIdx = 0;

$: hasFocus = focusGroup == groupWithFocus;

function bump(direction, signum, wraps, bound, reset) {
  if (displayDirection == direction) {
    if (selectedIdx == bound) {
      if (wraps) {
        selectedIdx = reset;
        return;
      } else {
        // bump focus left
        dispatch("change", { direction: direction, signum: signum });
        return;
      }
    }
    selectedIdx += signum;
  } else {
    if (hasAltAction) {
      if (wraps) {
        altSelected = !altSelected;
        return;
      } else {
        if (altSelected) {
          if (signum == -1) {
            altSelected = false;
            return;
          }
        } else {
          if (signum == 1) {
            altSelected = true;
            return;
          }
        }
      }
    }
    // bump focus
    dispatch("change", { direction: direction, signum: signum });
    return;
  }
}

function handleKeydown({ key }) {
  if (!hasFocus || event.handled) {
    return;
  }
  switch (key) {
    case "a":
    case "ArrowLeft":
      bump("horizontal", -1, wrapHorizontal, 0, actions.length - 1);
      break;
    case "d":
    case "ArrowRight":
      bump("horizontal", 1, wrapHorizontal, actions.length - 1, 0);
      break;
    case "w":
    case "ArrowUp":
      bump("vertical", -1, wrapVertical, 0, actions.length - 1);
      break;
    case "s":
    case "ArrowDown":
      bump("vertical", 1, wrapVertical, actions.length - 1, 0);
      break;
    case "Enter":
    case " ":
      if (altSelected && hasAltAction) {
        actions[selectedIdx].altHandler();
      } else {
        actions[selectedIdx].handler();
      }
      break;
  }
  event.handled = true;
}

function stealFocus() {
  // TODO
}
</script>

<svelte:window on:keydown="{handleKeydown}" />

<ul class="actions">
  {#each actions as action, idx}
    <li>
      {#if action.prefixText !== undefined}
        {action.prefixText} &mdash;
      {/if}
      <Linky
        on:click="{action.handler}"
        on:touch="{action.handler}"
        on:mouseenter="{() => {
          selectedIdx = idx;
          altSelected = false;
          stealFocus();
        }}"
        selected="{hasFocus && idx == selectedIdx && !altSelected}"
      >
        {action.text}
      </Linky>
      {#if hasAltAction}
        &mdash;
        <Linky
          on:click="{action.altHandler}"
          on:touch="{action.altHandler}"
          on:mouseenter="{() => {
            selectedIdx = idx;
            altSelected = true;
            stealFocus();
          }}"
          selected="{hasFocus && idx == selectedIdx && altSelected}"
        >
          {action.altText}
        </Linky>
      {/if}
      {#if action.suffixText !== undefined}
        {action.suffixText}
      {/if}
    </li>
  {/each}
</ul>
