
//features





/* .center-block {
    max-width: 400px;
    margin: auto;
    font-size: 1.3em;
    text-align: center;
    form {
        margin: 20px;
        box-sizing: border-box;
    }
    input, button {
        padding: 5px;
        font-size: 1em;
        margin: 10px;
        box-sizing: border-box;
    }
} */


//views


