{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block page_title %}{{object.name}}{% endblock %}

{% block body_class %}cenotaph{% endblock %}

{% block body_style %}background-color:{{object.room.color_hex}}{% endblock %}

{% block content %}
<section class="cenotaph-content">
  <h1>{{object.name}}</h1>
  {% if object.birth %}{{ object.birth }}{% else %}????{% endif%}&mdash;{% if object.death %}{{ object.death }}{% else %}????{% endif%}
  {% if object.portrait %}
    <img id="portrait" class="portrait" src="{{ object.portrait.url }}"/>
  {% endif %}

  <div class="obituary">
    <h3>Inscription:</h3>
    {{object.rendered_text|safe}}
  </div>
  <h3>Cenotaph Manifest:</h3>
  <ul class="events">
    {% for event in object.room.events.all reversed %}
      <li>{{ event.text }} &mdash; {{ event.created | naturaltime }}</li>
    {% endfor %}
  </ul>
  {{object.scene|safe}}
</section>
{% endblock %}

{% block footer %}
  <footer class="characterPanel">
    <div class="status-bar">
      You examine the Cenotaph
    </div>
    <div class="action-bar">
      <a href="{% url 'maze:room' object.room.color_slug %}">Return</a>
    </div>
  </footer>
{% endblock %}
