{% extends "base.html" %}

{% block body_class %}maze{% endblock %}

{% block content %}
  <section class="map-section">
    <h2>The map of <span class="yellow">Grotto</span> as we know it:</h2>
    <p>Spread out on the bed is a map and the tumped-out contents of a junk drawer.</p>

    <ul class="exits">
      {% for room in object_list %}
          <li><a href="{% url 'maze:room' room.color_slug %}">{{ room.name }}</a> -- <a href="{% url 'maze:graphics' room.pk %}">graphics</a> (created {{ room.pub_date|date }})</li>
      {% empty %}
          <li>No rooms yet.</li>
      {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
  </section>
{% endblock %}
