{% extends "base.html" %}
{% block head_script %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
{% endblock %}
{% block head_meta %}
<meta
  http-equiv="Content-Security-Policy"
  content="default-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' https://d3js.org; style-src-elem 'self' 'unsafe-inline' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com" />
{% endblock %}

{% block page_css %}
    {{ block.super }}
    <style>
        rect {
            stroke: #333;
            stroke-width: 1.5px;
            transition: stroke-width .5s ease-in-out;
        }
        rect:hover {
            stroke-width: 4px;
        }
    </style>
{% endblock %}

{% block inner_body %}
{% endblock %}


{% block page_script %}
    <script>
        const nodeSize = 16; // default node square
        function getNodeWidth(d) {
            return nodeSize + (d.exits ? d.exits.length : 0);
        }

        function getNodeHeight(d) {
            return nodeSize + (d.exits ? d.exits.length : 0);
        }


        // Fetching data
        Promise.all([
            fetch('/api/v1/game/tableau/').then(response => response.json()),
            fetch('/api/v1/guild/character_visits/').then(response => response.json())
        ]).then(([tableauData, visitedData]) => {

            const nodesMap = {
                [tableauData.room.pk]: {
                    ...tableauData.room,
                    visited: true,
                    warnings: tableauData.warnings  // Save warnings with the room
                }
            };
            visitedData.forEach(v => nodesMap[v.room.pk] = { ...v.room, visited: true });

            function getRoomsWithinSteps(nodesMap, startRoom, steps) {
                const visited = {};
                const stack = [{ node: startRoom, depth: 0 }];

                while (stack.length > 0) {
                    const { node, depth } = stack.pop();
                    if (!visited[node.pk]) {
                        visited[node.pk] = depth;
                        if (node.exits && depth < steps) {
                            node.exits.forEach(exit => {
                                if (nodesMap[exit.pk] && !visited[exit.pk]) {
                                    stack.push({ node: nodesMap[exit.pk], depth: depth + 1 });
                                }
                            });
                        }
                    }
                }
                return visited;
            }

            tableauData.room.exits.forEach(exit => {
                if (!nodesMap[exit.pk]) {
                    nodesMap[exit.pk] = {
                        ...exit,
                        unvisited: true,
                        visited: false
                    };
                }
            });

            const nodes = Object.values(nodesMap);
            const links = [];

            nodes.forEach(node => {
                if (node.exits) {
                    node.exits.forEach(exit => {
                        if (nodesMap[exit.pk]) {
                            links.push({
                                source: node.pk,
                                target: exit.pk,
                                unvisited: nodesMap[exit.pk].unvisited
                            });
                        }
                    });
                }
            });

            // Calculate rooms within 3 steps from the player's current room
            const closeRooms = getRoomsWithinSteps(nodesMap, tableauData.room, 3);

            // Filter nodes to include only rooms within 3 steps from the current room
            const filteredNodes = nodes.filter(node => closeRooms[node.pk] !== undefined);

            const filteredLinks = [];
            filteredNodes.forEach(node => {
                if (node.exits) {
                    node.exits.forEach(exit => {
                        if (nodesMap[exit.pk] && closeRooms[exit.pk] !== undefined) {
                            filteredLinks.push({
                                source: node.pk,
                                target: exit.pk,
                                unvisited: nodesMap[exit.pk].unvisited
                            });
                        }
                    });
                }
            });
            console.log("Filtered Nodes:", filteredNodes);
            console.log("Filtered Links:", filteredLinks);
            // SVG setup
            const width = 1200;
            const height = 600;

            const svg = d3.select("body").append("svg")
                .attr("width", width)
                .attr("height", height);

            // Force simulation setup
            const simulation = d3.forceSimulation(filteredNodes)
                .force("link", d3.forceLink(filteredLinks).id(d => d.pk).distance(80))
                .force("charge", d3.forceManyBody().strength(-700))
                .force("center", d3.forceCenter(width / 2, height / 2));

            // Draw links
            const link = svg.append("g")
                .selectAll("line")
                .data(filteredLinks)
                .enter().append("line")
                .attr("class", d => `link-${d.source.pk}-${d.target.pk}`)
                .attr("stroke", d => {
                    // Check if both source and target nodes are visited
                    if (d.source.visited && d.target.visited) {
                        return "#333";  // dark color for visited rooms
                    }
                    return "#ccc";  // Gray color for other cases
                })
                .style("stroke-dasharray", d => d.unvisited ? "5,5" : "none")  // Dashed line for unvisited exits
                .attr("stroke-opacity", 0.5);

            // Draw nodes

            const node = svg.append("g")
                .selectAll("rect")
                .data(filteredNodes)
                .enter().append("rect")
                .attr("width", d => getNodeWidth(d))
                .attr("height", d => getNodeHeight(d))
                .attr("fill", d => d.unvisited ? "#999" : d.color_hex)
                .style("shape-rendering" , "crispEdges")
                .style("stroke", d => {
                    if (d.warnings && d.warnings.length > 0) { // Check if the room has warnings
                        return "red"; // Red outline for rooms with warnings
                    }
                    return d.unvisited ? "#999" : "#333";
                })


            node.on("mouseover", function() {
                const d = d3.select(this).data()[0];
                // De-emphasize all links
                //console.log(d);
                link.style("stroke-opacity", 0.1);

                // Emphasize links connected to the hovered node
                link.filter(l => {
                    //console.log(typeof l.source.pk, typeof d.pk, l.source.pk, d.pk);
                    return l.source.pk == d.pk || l.target.pk == d.pk;
                })
                .style("stroke-opacity", 1);
            })
            .on("mouseout", function(d) {
                // Reset all link opacities back to original
                link.style("stroke-opacity", 0.5);
            });
            // Tooltip for nodes
            node.append("title")
                .text(d => {
                    let tooltipText = d.unvisited ? "unknown" : d.name;
                    if (d.warnings && d.warnings.length > 0) {
                        const warningMessages = d.warnings.map(w => w.warning).join("\n"); // Extract the warning texts
                        tooltipText += "\nWarnings: \n" + warningMessages;
                    }
                    return tooltipText;
                });
            const playerDot = svg.append("g")
                .selectAll("circle")
                .data(filteredNodes.filter(d => d.pk === tableauData.room.pk))
                .enter().append("circle")
                .attr("r", 4) // Size of the player dot
                .attr("fill", "black");

            // Update positions
            simulation.on("tick", () => {
                link
                    .attr("x1", d => d.source.x)
                    .attr("y1", d => d.source.y)
                    .attr("x2", d => d.target.x)
                    .attr("y2", d => d.target.y);

                node
                    .attr("x", d => d.x - getNodeWidth(d) / 2)
                    .attr("y", d => d.y - getNodeHeight(d) / 2);

                playerDot
                    .attr("cx", d => d.x)
                    .attr("cy", d => d.y);
            });

        });

    </script>
{% endblock %}