body.graphics-view main {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body.graphics-view main .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body.graphics-view main .messages {
  color: #fff;
  width: 100%;
  background-color: #333;
}

body.graphics-view main sidebar {
  display: none;
}

body.graphics-view main .warnings {
  display: none;
}

body.graphics-view main .room-inventory {
  display: none;
}

body.graphics-view main .room-attributes {
  display: none;
}

body.graphics-view main .graphics {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=graphics_view.css.map */