{% extends "base.html" %}

{% block page_title %}
  {{ object.name }}
{% endblock %}

{% block body_class %}
  character {{ object.name }}
{% endblock %}

{% block content %}
  <section class="character-section">
    <div class="icon character {{object.kind.lower}}">
    </div>
    <h2>{{object.name}} the {% if object.dead %}dead {% endif %}{{object.kind}}</h2>
    <p>Name: {{object.name}}</p>
    <p>Kind: {{object.kind}}</p>
    <p class="description">
      Description: {{ object.description }}
    </p>
    <h3>Skills:</h3>
    <ul>
      {% for skill in object.skills.all %}
        <li>{{ skill.name }}: {{ skill.level }}</li>
        {% empty %}
        (None)
        {% endfor %}
    </ul>

    <h3>Inventory:</h3>
    <ul class="character-inventory-list">
      {# deal with other items too #}

      {% for item in character.inventory.all %}
        <li>{{ item.name }}</li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}

{% block page_script %}

{% endblock %}